@import "../fonts/stylesheet.css";
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Open Sans Condensed Light'), local('OpenSansCondensed-Light'), url(https://fonts.gstatic.com/s/opensanscondensed/v14/z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff1GhDuXMQg.ttf) format('truetype');
}
body {
  font-family: 'Open Sans Condensed', sans-serif;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
  margin: 0px;
}
h1 {
  color: #666;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px 0 15px 0;
  text-align: center;
  width: 100%;
  margin: 0;
}
#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#box {
  height: 100%;
  padding: 0;
}
@media only screen and (max-width: 768px) {
  #box {
    width: 90%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  #box {
    width: 80%;
  }
}
@media only screen and (min-width: 1025px) {
  #box {
    width: 60%;
  }
}
#primeiro-box {
  width: 100%;
}
#segundo-box {
  width: 100%;
}
#terceiro-box {
  width: 100%;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.icon:before {
  font-family: 'MeteoconsRegular';
  content: attr(data-icon);
}
.icon-principal {
  position: relative;
  width: 35%;
  padding: 5%;
  float: left;
  text-align: center;
  padding-top: 25pt;
}
.temperatura-principal {
  width: 45%;
  padding: 5%;
  float: right;
}
.icon-principal span {
  color: #fff;
}
.temperatura-principal h2 {
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.temperatura-principal h3 {
  margin: 10px 0 10px 0;
  color: #fff;
}
.temperatura-principal p {
  margin: 0;
  color: #fff;
}
@media only screen and (max-width: 768px) {
  .icon-principal span {
    font-size: 35vw;
  }
  .temperatura-principal h2 {
    font-size: 6vw;
  }
  .temperatura-principal h3 {
    font-size: 5vw;
  }
  .temperatura-principal p {
    font-size: 4.5vw;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .icon-principal span {
    font-size: 22vw;
  }
  .temperatura-principal h2 {
    font-size: 2.5vw;
  }
  .temperatura-principal h3 {
    font-size: 2vw;
  }
  .temperatura-principal p {
    font-size: 1.7vw;
  }
}
@media only screen and (min-width: 1025px) {
  .icon-principal span {
    font-size: 18vw;
  }
  .temperatura-principal h2 {
    font-size: 2.5vw;
  }
  .temperatura-principal h3 {
    font-size: 2vw;
  }
  .temperatura-principal p {
    font-size: 1.7vw;
  }
}
.icon-secundario {
  position: relative;
  width: 35%;
  padding: 1% 5% 1% 5%;
  float: left;
  text-align: center;
}
.temperatura-secundaria {
  width: 45%;
  padding: 1% 5% 1% 5%;
  float: right;
}
.icon-secundario span {
  color: #fff;
}
.temperatura-secundaria h2 {
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .icon-secundario span {
    font-size: 12vw;
  }
  .temperatura-secundaria h2 {
    font-size: 4vw;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .icon-secundario span {
    font-size: 10vw;
  }
  .temperatura-secundaria h2 {
    font-size: 3vw;
  }
}
@media only screen and (min-width: 1025px) {
  .icon-secundario span {
    font-size: 5vw;
  }
  .temperatura-secundaria h2 {
    font-size: 1.5vw;
  }
}
