@import './components/Day/styles.scss';
@import './components/CitiesInput/styles.scss';

.weather {

  display: grid;
  grid-template-areas:
    "l l l main r r r"
    "l l l main r r r";

  height: 100vh;
  width: 100vw;

  main {
    grid-area: main;

    display: grid;
  }

  .grantButton {
    position: absolute;
    right: 2rem;
    top: 2rem;

    padding: 1rem .5rem;

    cursor: pointer;
  }

  .darkness {
    min-height: 100%;
    min-width: 100%;
    background-color: rgba(0,0,0,.75);

    &.--left {
      grid-area: l;
    }

    &.--right {
      grid-area: r;
    }
  }
}

