#today-panel {
    display: flex;
    flex-direction: row;
    color: white;
    padding: 1rem;
    div.weather-icon {
        width: 60%;
        padding: 1rem 2rem;
        align-self: center;
        img {
            width: 100%;
            max-height: 33vh;
        }
    }
    div.weather-info {
        width: 40%;
        align-self: center; 
    }
    .description {
        font-size: 32px;
    }
    .details {
        p {
            font-size: 20px;
        }
    }
}