#today-panel {
    display: flex;
    flex-direction: row;
    color: white;
    padding: 1rem;
    div.weather-icon {
        width: 60%;
        align-self: center;
        text-align: center;
        img {
            width: 50%;
        }
    }
    div.weather-info {
        width: 40%;
        align-self: center; 
    }
    .description {
        font-size: 30px;
    }
    .details {
        p {
            font-size: 20px;
        }
    }
}