.input {
  background-color: #ffffff;
  opacity: 0.7;
  display: flex;
  padding: 16px;
  &__icon {
    width: 32px;
    aspect-ratio: 1/1;
    border: none;
    margin-right: 16px;
    filter: brightness(200%);
  }
  &__value {
    font-size: 22px;
    line-height: 24px;
    color: #5a626d;
    border: none;
    flex: 1;
  }
}
