.loader {
    align-self: center;
    padding-right: 12px;
    display: inline-block;
    width: 20px;
    height: 20px;

    &:after {
        content: " ";
        display: block;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        border: 4.5px solid #fff;
        border-color: #777777 transparent #777777 transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }

    @keyframes lds-dual-ring {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }

    }

}


.sm{
    width: 30px;
    height: 30px;

    &:after {
        width: 22px;
        height: 22px;
    }
}


.nm {
    width: 40px;
    height: 40px;
    &:after {
        width: 32px;
        height: 32px;
    }
}

.lg {
    width: 50px;
    height: 50px;
    &:after {
        width: 42px;
        height: 42px;
    }
}

.xlg {
    width: 70px;
    height: 70px;
    &:after {
        width: 62px;
        height: 62px;
    }
}