.weatherInfo {
    font-weight: 700;
    .weatherBlock {
        min-height: 180px;
        justify-content: right;
        display: flex;

        @media screen and (max-width: 768px) {
            min-height: 120px;
        }

        > div {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 60px;

            @media screen and (max-width: 768px) {
                width: 100%;
                margin: 0 auto;
                text-align: center;
            }

            p {
                color: white;
                font-size: 2em;

                @media screen and (max-width: 768px) {
                    font-size: 1.4em;
                }
            }

            .day {
                text-transform: uppercase;
            }

            h1.title {
                text-transform: capitalize;
                font-size: 2.5em;
                color: white;
                margin: 20px 0;
            }

            p.details {
                font-size: 1.5em;
                line-height: 40px;
            }
        }
    }

    .todayWeather {
        > img {
            width: 40%;
            max-height: 30vh;
            margin: 40px auto;
        }

        @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 20px 0;
            > img {
                margin: 0 auto 20px;
            }
            > div {
                margin: 0 auto;
                text-align: center;
            }
        }
    }
}

:global(.hot) {
    &.todayWeather { background-color: rgba($color: #ff0000, $alpha: .5); }
    &.tomorrowWeather { background-color: rgba($color: #ff0000, $alpha: .7); }
    &.afterTomorrowWeather { background-color: rgba($color: #ff0000, $alpha: .9); }
}

:global(.medium) {
    &.todayWeather { background-color: rgba($color: #f5de0f, $alpha: .5); }
    &.tomorrowWeather { background-color: rgba($color: #f5de0f, $alpha: .7); }
    &.afterTomorrowWeather { background-color: rgba($color: #f5de0f, $alpha: .9); }
}

:global(.cold) {
    &.todayWeather { background-color: rgba($color: #4d4dfc, $alpha: .5); }
    &.tomorrowWeather { background-color: rgba($color: #4d4dfc, $alpha: .7); }
    &.afterTomorrowWeather { background-color: rgba($color: #1010ce, $alpha: .8); }
}