.input-text__container {
  display: flex;
  align-items: center;
  gap: 32px;
  padding-left: 32px;
  background: #fff;
}

.input-text__container svg {
    width: 80px;
    height: 80px;
    fill: var(--gray-500);
}

.input-text__search {
  flex: 1;
  background: transparent;
  height: 130px;
  border: 0;
  font-size: 2rem;
  font-weight: 500;
  color: var(--gray-500);
}
