@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-vue/src/index";
@import "~@/assets/vendor/fontawesome/scss/fontawesome.scss";
@import "~@/assets/vendor/fontawesome/scss/regular.scss";
@import "~@/assets/vendor/fontawesome/scss/brands.scss";
@import "~@/assets/vendor/fontawesome/scss/solid.scss";
@import "~@/assets/vendor/meteocons-font/Font-face/stylesheet.css";
