.image {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 40%;
    height: 40%;
    margin: auto;
}

.icon{
    width: 180px;
    height: 180px;
    color: white;
    
}
        
.icon #grid {
     stroke: none
}