{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ],
        "@babel/preset-typescript",
        "@babel/preset-react"
    ],
    "env": {
        "production": {
            "compact": true,
            "comments": false,
            "minified": true
        }
    }
}