version: "3.3"

services:
    nextjs-dev:
        ports:
            - 4000:4000
        build:
            context: .
            dockerfile: Dockerfile
        volumes:
            - .:/usr/src/app
            - /usr/src/app/node_modules
            - /usr/src/app/.next
        env_file:
            - .env