.normal-grey {
    // background-color: #ced4da;
    background-color: rgba(206, 212, 218, 0.9);
}

.medium-grey {
    // background-color: #adb5bd;
    background-color: rgba(173, 181, 189, 0.9);
}

.dark-grey {
    // background-color: #6c757d;
    background-color: rgba(108, 117, 125, 0.9);
}

.normal-yellow {
    // background-color: #ffea00;
    background-color: rgba(255, 234, 0, 0.9);
}

.medium-yellow {
    // background-color: #ffdd00;
    background-color: rgba(255, 221, 0, 0.9);
}

.dark-yellow {
    // background-color: #cca700;
    background-color: rgba(204, 167, 0, 0.9);
}

.normal-blue {
    // background-color: #90e0ef;
    background-color: rgba(144, 224, 239, 0.9);
}

.medium-blue {
    // background-color: #48cae4;
    background-color: rgba(72, 202, 228, 0.9);
}

.dark-blue {
    // background-color: #00b4d8;
    background-color: rgba(0, 180, 216, 0.9);
}

.normal-red {
    // background-color: #FF0A37;
    // same color but with 90% opacity
    background-color: rgba(255, 10, 55, 0.9);
}

.medium-red {
    // background-color: #E00029;
    // same color but with 90% opacity
    background-color: rgba(224, 0, 41, 0.9);
}

.dark-red {
    // background-color: #B80022;
    // same color but with 90% opacity
    background-color: rgba(184, 0, 34, 0.9);
}
