.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100vh;
}

.icon {
    height: 200px;
    width: 200px;
}

.card {
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    min-width: 600px;
    max-height: 80vh;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    overflow: hidden;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.value,
.title {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.label {
    font-size: 1em;
    color: white;
    margin-right: 15px;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
    background-color: gray;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.search-bar {
    background-color: white;
    padding: 0 0.5rem;
    box-sizing: border-box;

    input {
        margin-left: 5px;
        width: 100%;
        height: 40px;
        padding: 0.5rem;
        border: none;
        font-size: 1rem;
        line-height: 1.5;
        color: #555;
        background-color: #fff;
        outline: none;
    }

    button {
        border: none;
        background-color: transparent;
        font-weight: bold;
        color: gray;
        font-size: 1em;
        cursor: pointer;
    }
}

.temperature-display {
    cursor: pointer;
}

.tips-btn {
    border: none;
    background-color: transparent;
    font-weight: bold;
    color: gray;
    font-size: 1em;
    cursor: pointer;
}
