import * as S from '../../styles/pages/{{lowerCase name}}.styles'

export default function {{pascalCase name}}() {
  return (
    <S.Container>
      <h1>{{pascalCase name}}</h1>
    </S.Container>
  )
}
