$font-size: 1rem;
$line-height-base: 1.5;

html {
  @media (max-width: 724px) {
    font-size: 14px;
  }

  .layout {
    max-width: 100vw;

    > .background {
      position: absolute;
      z-index: -1;

      width: 100%;
      max-width: 100%;
      height: 100%;

      filter: brightness(30%);
    }

    p, small {
      color: $grey;

      font-weight: 500;
      font-family: 'Noto Sans JP', sans-serif;

      font-size: $font-size;
      line-height: $line-height-base;
    }
  }
}

