@color-white: #fff;
@color-light: #f5f3f6;

@color-black: #282828;

@color-info: #ffbf63;
@color-danger: #f96a6a;
@color-success: #64ea8e;

// Temperaturas
@color-default: #e8c543;
@color-default-gradient-dark: fadeout(@color-default, 10%);
@color-default-gradient-light: fadeout(@color-default, 30%);

@color-primary: #ff1939;
@color-primary-gradient-dark: fadeout(@color-primary, 10%);
@color-primary-gradient-light: fadeout(@color-primary, 30%);

@color-secundary: #00afff;
@color-secundary-gradient-dark: fadeout(@color-secundary, 10%);
@color-secundary-gradient-light: fadeout(@color-secundary, 30%);

@color-dark: #999999;
@color-dark-gradient-dark: fadeout(@color-dark, 10%);
@color-dark-gradient-light: fadeout(@color-dark, 30%);

// Distâncias
@distance-default: 20px;
