<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container" id="container" style="background-image: url(<%=bgImage%>)">
      <div class="main-card location">
        Sorocaba, SP
      </div>
      <div class="main-card current-weather">
        main
      </div>
      <div class="main-card tomorrow">
        tomorrow
      </div>
      <div class="main-card after-tomorrow">
        day after
      </div>
    </div>
  </body>
</html>
