<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container" id="container" style="background-image: url(<%=bgImage%>)">
      <div class="main-card location">
        <input id="location" value="" />
      </div>
      <div class="main-card current-weather" id="today"></div>
      <div class="main-card tomorrow" id="tomorrow"></div>
      <div class="main-card after-tomorrow" id="day-after"></div>
    </div>
  </body>
    <script src="/javascripts/ajax.js"></script>
    <script src="/javascripts/scripts.js"></script>
</html>
