<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container" id="container">
      <div class="main-card location">
        Sorocaba, SP
      </div>
      <div class="main-card current-weather">
        <div class="main-weather-icon">icon</div>
        <div class="main-weather-text">
          <div class="todays-temperature">
            HOJE:<br />
            32C
          </div>
          <div class="todays-description">
            Ensolarado
          </div>
          <div class="todays-details">
            Vento: NO 6.4km/h<br />
            Humidade: 78%<br />
            Pressão: 1003hPA
          </div>
        </div>
      </div>
      <div class="main-card tomorrow">
        <div class="main-weather-text">Amanhã<br />20C</div>
      </div>
      <div class="main-card after-tomorrow">
        <div class="main-weather-text">Depois de amanhã<br />20C</div>
      </div>
    </div>
  </body>
  <!--script src="js/libs/ajax.js"></script>
  <script src="app-start.js"></script-->
</html>
