@font-face {
  font-family: 'MeteoconsRegular';
  src: url('../assets/meteocons/meteocons-webfont.eot');
  src: url('../assets/meteocons/meteocons-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/meteocons/meteocons-webfont.woff') format('woff'), url('../assets/meteocons/meteocons-webfont.ttf') format('truetype'), url('../assets/meteocons/meteocons-webfont.svg#MeteoconsRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.weather-background {
  height: 100vh;
  background-color: #eee;
}
.weather {
  margin: 0 auto;
  width: 650px;
  text-align: center;
  padding-top: 20px;
}
.weather .icons:before {
  font-family: 'MeteoconsRegular';
  content: attr(data-icon);
}
.weather .today-icon {
  font-size: 15vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.weather .weather-content {
  margin: 0 auto;
}
.weather .weather-content .btn-weather {
  color: #8e8a87;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background-color: #efebe7;
}
.weather .weather-content .weather-info {
  color: #FFF;
}
.weather .weather-content .weather-info .today {
  height: 260px;
}
.weather .weather-content .weather-info .today .info {
  text-align: left;
  margin-top: 8%;
}
.weather .weather-content .weather-info .today .info .temperature {
  font-size: 50px;
}
@media (max-width: 640px) {
  .weather {
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
}
