.localizacao {
    color: #8d8986;

    background: #fff;
    padding: 0 15px;

    &-titulo {
        display: flex;
        align-items: center;
    }
}

.temperatura-caixa,
.amanha,
.dia-depois-de-amanha {
    align-items: center;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
}

.temperatura-caixa p[data-icon] {
    font-size: 10em;
    margin: 0;
}

.vento {
    margin-top: 5vh;

    & p {
        margin: 0;
    }
}

h2.grau {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px 0 0;
}

span.modo {
    font-size: 1.5em;
}

.amanha, .dia-depois-de-amanha {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    line-height: 1;
    padding: 15px 15px 30px;
    width: -webkit-fill-available;
}

.grau span.modo {
    font-size: 1em;
    margin-left: 5px;
}