.WeatherLocation {
    background-color: rgba(255, 255, 255, 0.95);
    height: 15%;
}

.WeatherLocation p {
    color: gray;
    margin: 0;
    display: inline-block;
}

#compass {
    font-size: 59px;
    padding-top: 15px;
    padding-left: 15px;
}

#location {
    position: absolute;
    font-size: 37px;
    padding-left: 25px;
    padding-top: 25px;
    letter-spacing: 3px;
}

[data-icon]:before {
    font-family: 'MeteoconsRegular';
    content: attr(data-icon);
}
