.image-condition
    background-position: center
    background-repeat: no-repeat
    background-size: contain
    width: 250px
    height: 250px
    border: 20px solid transparent

.clear
    background-image: url('../../icons/SVG/3.svg')
.tornado
    background-image: url('../../icons/SVG/6.svg')
.tropical-storm
    background-image: url('../../icons/SVG/18.svg')
.hurricane
    background-image: url('../../icons/SVG/6.svg')
.severe-thunderstorms
    background-image: url('../../icons/SVG/27.svg')
.thunderstorms
    background-image: url('../../icons/SVG/16.svg')
.mixed-rain-and-snow
    background-image: url('../../icons/SVG/23.svg')
.mixed-rain-and-sleet
    background-image: url('../../icons/SVG/24.svg')
.mixed-snow-and-sleet
    background-image: url('../../icons/SVG/24.svg')
.freezing-drizzle
    background-image: url('../../icons/SVG/23.svg')
.drizzle
    background-image: url('../../icons/SVG/17.svg')
.freezing-rain
    background-image: url('../../icons/SVG/23.svg')
.showers
    background-image: url('../../icons/SVG/18.svg')
.snow-flurries
    background-image: url('../../icons/SVG/7.svg')
.light-snow-showers
    background-image: url('../../icons/SVG/21.svg')
.blowing-snow
    background-image: url('../../icons/SVG/21.svg')
.snow
    background-image: url('../../icons/SVG/7.svg')
.breezy
    background-image: url('../../icons/SVG/7.svg')
.hail
    background-image: url('../../icons/SVG/24.svg')
.sleet
    background-image: url('../../icons/SVG/24.svg')
.dust
    background-image: url('../../icons/SVG/13.svg')
.foggy
    background-image: url('../../icons/SVG/10.svg')
.haze
    background-image: url('../../icons/SVG/10.svg')
.smoky
    background-image: url('../../icons/SVG/10.svg')
.blustery
    background-image: url('../../icons/SVG/15.svg')
.windy
    background-image: url('../../icons/SVG/6.svg')
.cold
    background-image: url('../../icons/SVG/7.svg')
.cloudy
    background-image: url('../../icons/SVG/14.svg')
.mostly-cloudy
    background-image: url('../../icons/SVG/25.svg')
.partly-cloudy
    background-image: url('../../icons/SVG/14.svg')
.clear-night
    background-image: url('../../icons/SVG/3.svg')
.sunny
    background-image: url('../../icons/SVG/2.svg')
.mostly-sunny
    background-image: url('../../icons/SVG/2.svg')
.fair-night
    background-image: url('../../icons/SVG/3.svg')
.fair-day
    background-image: url('../../icons/SVG/2.svg')
.mixed-rain-and-hail
    background-image: url('../../icons/SVG/26.svg')
.hot
    background-image: url('../../icons/SVG/2.svg')
.isolated-thunderstorms
    background-image: url('../../icons/SVG/15.svg')
.scattered-thunderstorms
    background-image: url('../../icons/SVG/15.svg')
.scattered-thunderstorms
    background-image: url('../../icons/SVG/15.svg')
.scattered-showers
    background-image: url('../../icons/SVG/18.svg')
.scattered-snow-showers
    background-image: url('../../icons/SVG/23.svg')
.thundershowers
    background-image: url('../../icons/SVG/27.svg')
.snow-showers
    background-image: url('../../icons/SVG/23.svg')
.isolated-thundershowers
    background-image: url('../../icons/SVG/18.svg')
.not-available
    background-image: url('../../icons/SVG/45.svg')
