@font-color:#FFFFFFE6;

.layout {
  color: @font-color;
  h3{  
    font-weight: 400;
    text-transform: uppercase; 
  }
  p{
    white-space: nowrap;
    margin: 0;
    font-size: 28px;
  }
}

:global .container{
  align-items: center;
  background-color: #a3a3a399;
  min-height: 400px;
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}

.globalContainer{
  align-items: center;
  min-height: 200px;
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}

.secondContainer{
  background-color: #a3a3a3D9;
}

.thirdContainer{
  background-color: #a3a3a3F2;
}

.firstHalf{
  justify-content: center;
  font-size: 310px;
  display: flex;
  margin-left: 50px;
  width: 50%;
}

.secondHalf{
  text-align: left;
  width: 50%;
  font-size: 40px;
  margin-right: 50px;
}

.heading{
  margin: 15px 0px 10px 0px; 
}

:global .red-background1{
  background-color: #ff010199;
}
:global .blue-background1{
  background-color: #0400ff99;
}
:global .yellow-background1{
  background-color: #decf0299;
}

:global .red-background2{
  background-color: #ff0101D9;
}
:global .blue-background2{
  background-color: #0400ffD9;
}
:global .yellow-background2{
  
  background-color: #decf02D9;
}

:global .red-background3{
  background-color: #ff0101F2;
}
:global .blue-background3{
  background-color: #0400ffF2;
}
:global .yellow-background3{
  background-color: #decf02f2;
}