@font-color:#000;

.container {
  color: @font-color;
  font-weight: bold;
  display: inline-flex;
}

.firstHalf{
  align-items: center;
  margin-right: 25px;
  font-size: 190px;
  width: 50%;
  display: flex;
  justify-content: start;
  > p{
    margin: 0;
  }
}

.secondHalf{
  text-align: left;
  width: 50%;
  font-size: 40px;
}

.heading{
  margin: 15px 0px 10px 0px;
}

.text{
  white-space: nowrap;
  margin: 0;
  font-weight: 600;
  font-size: 34px;
}