@font-color:#FFFFFFE6;
@background-color:#FFFFFF;

.layout {
  color: @font-color;
  h3{  
    font-weight: 400;
    text-transform: uppercase; 
  }
}

.container{
  align-items: center;
  background-color: #FFFFFF66;
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}

.secondContainer{
  align-items: center;
  height: 200px;
  background-color: #FFFFFF99;
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}

.thirdContainer{
  align-items: center;
  height: 200px;
  background-color: #FFFFFFCC;
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}

.firstHalf{
  align-items: center;
  font-size: 290px;
  display: flex;
  margin-left: 50px;
  justify-content: flex-start;
  > p{
    margin: 0;
  }
}

.secondHalf{
  text-align: left;
  font-size: 40px;
  margin-right: 50px;
  min-width: 450px;
}

.heading{
  margin: 15px 0px 10px 0px; 
}

.text{
  white-space: nowrap;
  margin: 0;
  font-size: 28px;
}