.weather_forecast {
    .media {
        img {
            width: 100%;
            min-height: 100vh;
            object-fit: cover;
            object-position: center;
        }
    }
    .overlay {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        min-height: 100vh;
        background: rgba(0,0,0, 0.5);
    }
    .wrapper {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}