@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap')
*
    margin: 0
    padding: 0
    font-family: 'Open Sans', sans-serif
    box-sizing: border-box

html, body, #root
    min-height: 100%

@mixin center() 
    display: flex
    align-items: center
    justify-content: center

.container-home
    height: 100%
    @include center()
.container-loading
    position: fixed
    top: 0
    bottom: 0
    right: 0
    left: 0
    z-index: 100
    background-color: #fff
    height: 100vh
    @include center()
    p 
        text-align: center