@import "/src/styles/tokens.scss";

  .todayContainer {
    height: 50vh;
    .WheatherFigure{
      width: 60%;
      height: auto;
    }    
  }
  
  .tomorrowContainer,
  .afterTomorrowContainer {
    padding-left: 60%;
    justify-content: flex-start;
    height: 17.5vh;
  }  
  
  .Yellow{
    .todayContainer {
      background-color: $yellow-1;
    }
    .tomorrowContainer {
      background-color: $yellow-2;
    }
    .afterTomorrowContainer {
      background-color: $yellow-3;
    }
  }

  .Blue{
    .todayContainer {
      background-color: $blue-1;
    }
    .tomorrowContainer {
      background-color: $blue-2;
    }
    .afterTomorrowContainer {
      background-color:$blue-3;
    }
  }

  .Red{
    .todayContainer {
      background-color: $red-1;
    }
    .tomorrowContainer {
      background-color: $red-2;
    }
    .afterTomorrowContainer {
      background-color: $red-3;
    }
  }

  .White{
    .todayContainer,.tomorrowContainer, .afterTomorrowContainer {
      background-color: $light;
    }
  }

  @media screen and (max-width: 800px) {
    .todayContainer {
      height: 50%;
      width:100vw;
      .WheatherFigure{       
        height: auto;
      }    
    }    
    .tomorrowContainer,
    .afterTomorrowContainer {      
      height: 17.5%;
    }  
  }