
.icon-compass:before { content: '\e806'; } /* '' */
.icon-clouds-flash:before { content: '\e808'; } /* '' */
.icon-sunrise:before { content: '\e811'; } /* '' */
.icon-sun:before { content: '\e812'; } /* '' */
.icon-moon:before { content: '\e813'; } /* '' */
.icon-eclipse:before { content: '\e814'; } /* '' */
.icon-mist:before { content: '\e815'; } /* '' */
.icon-wind:before { content: '\e816'; } /* '' */
.icon-snowflake:before { content: '\e817'; } /* '' */
.icon-cloud-sun:before { content: '\e818'; } /* '' */
.icon-cloud-moon:before { content: '\e819'; } /* '' */
.icon-fog-sun:before { content: '\e81a'; } /* '' */
.icon-fog-moon:before { content: '\e81b'; } /* '' */
.icon-fog-cloud:before { content: '\e81c'; } /* '' */
.icon-fog:before { content: '\e81d'; } /* '' */
.icon-cloud:before { content: '\e81e'; } /* '' */
.icon-cloud-flash:before { content: '\e820'; } /* '' */
.icon-drizzle:before { content: '\e821'; } /* '' */
.icon-rain:before { content: '\e822'; } /* '' */
.icon-windy:before { content: '\e823'; } /* '' */
.icon-windy-rain:before { content: '\e824'; } /* '' */
.icon-snow:before { content: '\e826'; } /* '' */
.icon-snow-heavy:before { content: '\e827'; } /* '' */
.icon-hail:before { content: '\e828'; } /* '' */
.icon-clouds:before { content: '\e829'; } /* '' */
.icon-na:before { content: '\e82b'; } /* '' */
.icon-temperature:before { content: '\e82d'; } /* '' */
