@import "../common/mixins.scss";

.previsao-atual {
    @include container-condicao-tempo(100%, 60%, false);
}
.icone-tempo {
    @include icone-do-tempo(9.1rem, white, center, false);
}
.dados-tempo {
    align-self: center;
}
.dia {
    font-size: 1rem;
}
.temperatura {
    font-size: 1rem;
}
.temperatura-link {
    text-decoration: none;
}
.condicao-tempo {
    margin-top: 10px;
    font-size: 1rem;
}
.vento {
    margin-top: 5px;
    font-size: 1rem;
}
.humidade {
    font-size: 1rem;
}
.pressao {
    font-size: 1rem;
}
.azul_primario {
    background-color: #3498db;
}
.vermelho_primario {
    background-color: #db3643;
}
.amarelo_primario {
    background-color: #ffe021;
}
.cinza_primario {
    background-color: #b2b9bc;
}
