.day-box__container {
  position: relative;
  display: grid;
  grid-template-columns: 60% 1fr;
  height: calc((100vh - var(--header-width)) / 5);
  transition: all .3s linear;
}

.day-box__container[data-expanded="true"] {
  display: grid;
  flex: 1;
  max-height: calc((100vh - var(--header-width)) / 5 * 3);
}

.day-box__weather-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.day-box__weather-icon svg {
  width: 50%;
  height: auto;
  fill: inherit;
}

.day-box__container[data-expanded="false"] .day-box__weather-icon {
  display: none;
}

.day-box__info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 1rem;
  grid-column-start: 2;
}

.day-box__temperature {
  display: flex;
  flex-direction: column;
}

.day-box__temperature button {
  background: transparent;
  border: 0;
  width: fit-content;
  padding: 0.2rem;
  cursor: pointer;
}

.day-box__temperature button,
.day-box__temperature span {
  color: inherit;
  font-weight: 500;
  font-size: 2rem;
  text-transform: uppercase;
}

.day-box__details strong {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: 500;
  text-transform: capitalize;
}

.day-box__details p {
  font-size: 1.5rem;
  font-weight: 500;
}

.day-box__container[data-expanded="false"] .day-box__details {
  display: none;
}

.day-box__container[data-expanded="true"] .day-box__btn-expand {
  display: none;
}

.day-box__container[data-expanded="false"] .day-box__btn-expand {
  display: initial;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: inherit;
  position: absolute;
  left: 50%;
  bottom: 5px;
  transform: translateX(-50%);
  padding: 0.5rem;
}

@media (max-width: 600px) {
  .day-box__container {
    display: flex;
    align-items: center;
    height: calc((100vh - var(--header-width)) / 7);
  }

  .day-box__weather-icon {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40%;
    padding-top: 1rem;
  }

  .day-box__weather-icon svg {
    width: 100%;
    height: 100%;
  }

  .day-box__info {
    display: flex;
    padding: 0.5rem 2rem;
  }

  .day-box__temperature {
    flex-direction: row-reverse;
    gap: 2rem;
  }

  .day-box__temperature button,
  .day-box__temperature span {
    font-size: 1.5rem;
  }

  .day-box__details strong {
    font-size: 1.5rem;
  }

  .day-box__details p {
    font-size: 1.2rem;
  }

  .day-box__container[data-expanded="true"] {
    display: flex;
    flex-direction: column;
    max-height: calc((100vh - var(--header-width)) / 7 * 5);;
  }

  .day-box__container[data-expanded="true"] .day-box__temperature {
    flex-direction: column;
    gap: unset;
  }

  .day-box__container[data-expanded="true"] .day-box__info {
    width: 100%;
    align-items: flex-start;
    gap: 2rem;
  }

  .day-box__container[data-expanded="false"] .day-box__btn-expand {
    left: 85%;
    transform: translateY(-50%);
  }
}