.day-box__container {
  display: grid;
  grid-template-columns: 60% 1fr;
  height: calc((100vh - var(--header-width)) / 5);
}

.day-box__container[data-expanded="true"] {
  display: grid;
  flex: 1;
  max-height: calc((100vh - var(--header-width)) / 5 * 3);
}

.day-box__weather-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.day-box__weather-icon svg {
  width: 50%;
  height: auto;
  fill: inherit;
}

.day-box__container[data-expanded="false"] .day-box__weather-icon {
  display: none;
}

.day-box__info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 1rem;
  grid-column-start: 2;
}

.day-box__temperature {
  display: flex;
  flex-direction: column;
}

.day-box__temperature button {
  background: transparent;
  border: 0;
  width: fit-content;
  padding: 0.2rem;
  cursor: pointer;
}

.day-box__temperature button,
.day-box__temperature span {
  color: inherit;
  font-weight: 500;
  font-size: 2rem;
  text-transform: uppercase;
}

.day-box__details strong {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: 500;
  text-transform: capitalize;
}

.day-box__details p {
  font-size: 1.5rem;
  font-weight: 500;
}

.day-box__container[data-expanded="false"] .day-box__details {
  display: none;
}