
@bg-color: #ccf;
@main-text-color: #ffc;

@tranparency-01: rgba(0,0,0,.2);
@tranparency-02: rgba(0,0,0,.3);
@tranparency-03: rgba(0,0,0,.5);
@tranparency-04: rgba(0,0,0,.8);

body {
  background-color: @bg-color;
  color: @main-text-color;
  border: 0;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-card {
  margin: auto;
  max-width: 600px;
  background-color: @tranparency-01;
  overflow-y: overlay;
}

.current-weather {
  background-color: @tranparency-02;
}

.tomorrow {
  background-color: @tranparency-03;
}

.after-tomorrow {
  background-color: @tranparency-04;
}

.main-weather-icon {
  width: 45%;
  float: left;
  padding: 1% 1% 1% 1%;
}

.main-weather-text {
  width: 45%;
  float: right;
  text-align: left;
  padding: 1% 1% 1% 1%;
}

.todays-temperature {
  padding: 0 0 3% 0;
}

.todays-description {
  padding: 0 0 3% 0;
}

.todays-details {
 font-size: small;
}