.header {
  background-color: #f3eeeb;
  padding: 15px 10px;
  display: flex;
  color: #8c8986;
}

.header__location {
  font-size: 24px;
  margin-left: 15px;
  font-weight: 700;
}

.header__btn-metric {
  margin-left: auto;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid #8c8986;
  color: #8c8986;
  font-weight: 700;
}