.normal-grey {
    background-color: rgba(206, 212, 218, 0.9);
}

.medium-grey {
    background-color: rgba(173, 181, 189, 0.9);
}

.dark-grey {
    background-color: rgba(108, 117, 125, 0.9);
}

.normal-yellow {
    background-color: rgba(255, 234, 0, 0.9);
}

.medium-yellow {
    background-color: rgba(255, 221, 0, 0.9);
}

.dark-yellow {
    background-color: rgba(204, 167, 0, 0.9);
}

.normal-blue {
    background-color: rgba(144, 224, 239, 0.9);
}

.medium-blue {
    background-color: rgba(72, 202, 228, 0.9);
}

.dark-blue {
    background-color: rgba(0, 180, 216, 0.9);
}

.normal-red {
    background-color: rgba(255, 10, 55, 0.9);
}

.medium-red {
    background-color: rgba(224, 0, 41, 0.9);
}

.dark-red {
    background-color: rgba(184, 0, 34, 0.9);
}
