.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    flex: 1;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    width: 100%;
}

.padding-10 {
    box-sizing: border-box;
    padding: 10px;
}

.left {
    justify-content: end;
}

.center {
    align-items: center;
    align-content: center;
    justify-content: center;
}

.margin-right-10 {
    margin-right: 10px;
}

.lower-case {
    text-transform: lowercase;
}
