@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

.container {
  margin: 0 15px;
  padding: 15px;
  //mix-blend-mode: multiply;
  opacity: 0.85;
  filter: drop-shadow(3px 6px 10px rgba(0, 0, 0, 0.29));
  -webkit-backdrop-filter: blur(115px);
  backdrop-filter: blur(115px);
  height: 100vh;
  @include for-desktop-up() {
    margin: auto 50px;
  }
}

.formControll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  @include for-desktop-up() {
    width: 50%;
  }
}

.inputLabel {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 20px;
}

.input {
  width: 90%;
  height: 50px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #000;
  font-size: 1.5rem;
  outline: none;
  &:before,
  &:after,
  &:before {
    content: none;
  }
  background: #f0f0f0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  border-radius: 67px;
}

.daily {
  margin: 0 1.5em;

  svg {
    width: auto;
  }

  div {
    display: flex;
    align-items: center;
  }

  ul {
    margin: 0 0.6em;
    padding: 0;
  }

  li {
    list-style-type: none;
  }
}

.currentInfo {
  width: 100%;
  text-align: center;
  span {
    font-size: 2em;
  }

  ul {
    margin: 0 0.6em;
    padding: 0;
  }

  li {
    list-style-type: none;
    margin: 0.3em;
  }

  p {
    margin: 0;
  }
}

.infoComp {
  display: flex;
  justify-content: space-between;
}

.footer {
  grid-column: 1fr 1fr;
  padding: 0;
  font-size: 1em;
  p {
    margin: 0;
    font-size: 0.7em;
  }
}

.main {
  margin: auto;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
}
