@font-face {
    font-family: 'MeteoconsRegular';
    src: url('../assets/fonts/meteocons/meteocons-webfont.eot');
    src: url('../assets/fonts/meteocons/meteocons-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/meteocons/meteocons-webfont.woff') format('woff'),
         url('../assets/fonts/meteocons/meteocons-webfont.ttf') format('truetype'),
         url('../assets/fonts/meteocons/meteocons-webfont.svg#MeteoconsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Black';
  src: url('../assets/fonts/Roboto/Roboto-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Light';
  src: url('../assets/fonts/Roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('../assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Medium';
  src: url('../assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body, html {
  height: 100%;
}

.h-100 {
  height: 100%;
}

.d-flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.fl-d-column {
  flex-direction: column;
}

.fl-d-row {
  flex-direction: row;
}

.align-i-center {
  align-items: center;
}

.align-c-center {
  align-content: center;
}

.align-s-center {
  align-self: center;
}

.just-c-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}