.main_info_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 51.6%;
    background: $invalid-main;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1), 0px 1px 18px rgba(0, 0, 0, 0.06),
        0px 6px 10px rgba(0, 0, 0, 0.07);

    svg {
        fill: $white;
        width: 40vmin;
        height: 40vmin;
        margin-left: 2vmin;
    }
}

.main_info_container--data_info {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    color: $white;
    padding-left: 6vmin;

    h2 {
        font-size: 4.5vmin;
        font-weight: bold;
    }

    h3 {
        font-size: 3.5vmin;
        font-weight: bold;
    }
}

.main_info_container--data_info--today_temp {
    margin: 3vmin 0;
}

.main_info_container--data_info--others_info {
    margin: 3vmin 0;
}

.main_info_container--is-hot {
    background: $hot-main;
}

.main_info_container--is-warm {
    background: $warm-main;
}

.main_info_container--is-cold {
    background: $cold-main;
}

.main_info_container--data_info--today_temp--switch_temp {
    cursor: pointer;
}
