.background {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-title {
  background-color: rgba(240, 235, 232, 1);
  padding: 15px 10px;
  display: flex;
  align-items: center;
}

.weather-info {
  line-height: 20px;
}

.future-weather-day {
  text-transform: uppercase;
}
