.background {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-title {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px 0px;
}

.card-content {
  /* padding: 0px 20px; */
}

.weather-info {
  padding-left: 50px;
  line-height: 20px;
}

.future-weather-info {
}

.future-weather-day {
  text-transform: uppercase;
}