@import '../../src/styles/partials/fonts.less';
@import '../../src/styles/partials/container.less';
@import '../../src/styles/partials/temperatura.less';

html,
body,
#root,
.main-content,
.container {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}