* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
body,
html {
    min-height: 100vh;
    max-width: 100vw;
    -webkit-font-smoothing: antialiased;
}
body,
input,
button {
    font-family: "Varta", sans-serif;
    font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}
button {
    cursor: pointer;
}
