$dark:#000000;
$dark-opacity:rgba(0,0,0, 0.5);
$light-opacity:rgba(255,255,255, 0.9);
$grey-opacity:rgb(211, 208, 201,0.4);

$grey-1:#8c8885;
$light: #fff;
$light-2:#F2EDEA;

$white-1:rgb(204, 204, 204,0.8);
$white-2:rgb(150, 150, 150,0.9);
$white-3:rgb(100, 100, 100,1);

$yellow-1:rgb(249, 203, 5,0.8);
$yellow-2:rgba(251,205,6,0.9);
$yellow-3:rgb(181,149,2,1);

$blue-1:rgb(51, 136, 255,0.8);
$blue-2:rgb(00, 102, 255,0.9);
$blue-3:rgb(0, 0, 255,1);

$red-1:rgb(246, 150, 151,0.8);
$red-2:rgb(240, 30, 44,0.9);
$red-3:rgb(195, 0, 16,1);