@grid-value: 32em;
@grid-desktop: 35.9em;
@text-color-default: #8d8a87;
@background-color-default: rgba(239, 235, 231, 0.9);

@text-color-colored: #fff;

@background-yellow1: rgba(255, 255, 18, 0.7);
@background-yellow2: rgba(255, 255, 18, 0.8);
@background-yellow3: rgba(255, 255, 18, 0.9);

@background-red1: rgba(255, 0, 0, 0.7);
@background-red2: rgba(255, 0, 0, 0.8);
@background-red3: rgba(255, 0, 0, 0.9);

@background-blue1: rgba(0, 0, 255, 0.7);
@background-blue2: rgba(0, 0, 255, 0.8);
@background-blue3: rgba(0, 0, 255, 0.9);