@grid-value: 32em;
@grid-desktop: 35.9em;
@text-color-default: #8d8a87;
@background-color-default: rgba(239, 235, 231, 0.8);

@text-color-colored: #fff;

@background-yellow1: rgba(235,186,21, 0.8);
@background-yellow2: rgba(250,202,4, 0.8);
@background-yellow3: rgba(181,149,2, 0.8);

@background-red1: rgba(250,128,114, 0.8);
@background-red2: rgba(255,160,122, 0.8);
@background-red3: rgba(233,150,122, 0.8);

@background-blue1: rgba(176,224,230, 0.8);
@background-blue2: rgba(173,216,230, 0.8);
@background-blue3: rgba(135,206,250, 0.8);