@grid-value: 32em;
@grid-desktop: 35.9em;
@text-color-default: #8d8a87;
@background-color-default: #efebe7c2;

@text-color-colored: #fff;

@background-yellow1: #e3b612ad;
@background-yellow2: #facc05cf;
@background-yellow3: #b79404e8;

@background-red1: #d01e1ead;
@background-red2: #d41e1ecf;
@background-red3: #ea0909e8;

@background-blue1: #1e76d0ad;
@background-blue2: #1e76d0cf;
@background-blue3: #1e76d0e8;