.search_container {
    color: #545252;
}

.search_input {
    opacity: 0.8;
    background: none;
}

.search_input:focus {
    opacity: 1;
    color: black;
}

.search_input::placeholder {
    color: #545252;
}