.search_container {
    color: #545252;
}

.search_container:focus-within {
    color: black;
}

.search_input {
    font: inherit;
    opacity: 0.8;
    background: none;
}

.search_input:focus {
    opacity: 1;
}

.search_input::placeholder {
    color: #545252;
}
