.app{
    font-size: 1rem;
    width: 100%;

    display: flex;
    justify-content: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.content{
    display: flex;
    min-width: 460px;
    min-height: 75vh;
    flex-basis: 12rem;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    color: white;
    padding-bottom: 2rem;
}

