.modal-body-today-container {
    width: 100%;
    height: 50% !important;
    box-sizing: border-box;
    background-color: rgba(81, 80, 79, 0.634);

    .modal-body-today-content {
        display: flex;
        height: 100%;
        width: 100%;

        .modal-body-today-temp-icon {
            width: 50%;

            display: flex;
            justify-content: center;
            align-items: center;

            .modal-body-today-sun-status {
                font-size: 216px;
                color: white;
            }
        }

        .modal-body-today-weather-infos {
            width: 50%;
            color: white;

            flex-direction: column;
            display: flex;


            font-weight: 600;

            .modal-body-today-temp-status {

                margin: 14px 0 0 14px;
                display: flex;
                flex-direction: column;

                .modal-body-today-temp-title {
                    font-size: 24px;
                    margin-bottom: 4px;
                }

                .modal-body-today-temp-value {
                    cursor: pointer;
                    font-size: 26px;
                    font-weight: 550;

                }
            }

            .modal-body-today-sky-status {
                margin: 14px 0 0 14px;

                .modal-body-today-sky-title {
                    font-size: 24px;
                    margin-bottom: 8px;
                }

                .modal-body-today-sky-wind {
                    cursor: pointer;

                }

                .modal-body-today-sky-wind,
                .modal-body-today-sky-hum,
                .modal-body-today-sky-press {
                    margin-bottom: 4px;
                }
            }
        }
    }

}

.modal-body-today-temp-value,
.modal-body-today-sky-wind {
    /*
        User can't select the text
    */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

[data-icon]:before {
    font-family: 'MeteoconsRegular';
    content: attr(data-icon);
}