{
  "presets": ["@babel/preset-env", "@babel/preset-react", "@babel/typescript"],
  "plugins": [
    "macros",
    [
      "babel-plugin-styled-components",
      {
        "ssr": false
      }
    ]
  ]
}
