@import '../../assets/styles/_variables.scss';


@mixin opacityIE8($opacity) {
    filter: alpha(opacity = $opacity-ie);
     //IE8:;
    -webkit-filter: alpha(opacity = $opacity-ie);
}

@mixin regularCc() {
    width: 100%;
    display: flex;
    flex-direction: row;
    color: white;
    user-select: none; 
}

@mixin compactCc() {
    height: 152.5px; 
    transition: all .3s ease;
    user-select: none; 
    .iconArea {
        .onOffIcon {
            display: none;
            transition: all .7s ease;
        }
    }
    .contentDescription {
        display: none;
        transition: all .7s ease;
    }
}

@mixin expandedCc() {
    transition: all .3s ease;
    .iconArea {
        .onOffIcon {
            display: block;
            transition: all .7s ease;
        }
    }
    .contentDescription {
        display: block;
        transition: all .7s ease;
    }
}

.iconArea {
    height: 100%;
    width: 57.5%;
    @include font-test('MeteoconsRegular', '../../assets/fonts/meteocons-webfont');
    text-align: center;
    padding-top: 50px;
}

.contentArea {
    width: 42.5%;
    font-family: 'Trebuchet MS';
    font-weight: normal;
}




.contentDescription {
    font-size: 23px;
    h1 {
        font-weight: 100; 
        font-stretch: condensed;
    }
    h2 {
        font-weight: normal;
    }
}

@media only screen and (min-width: 1024px) {
    .contentDescription {
        font-size: 23px;
        h1 {
            font-weight: 100; 
            font-size: 43px;
        }
        h2 {
            font-weight: normal;

        }
    }
    .contentTitle {
        font-size: 19px;
        h1 {
            font-stretch: condensed;
        }
        h2 {
            
            margin-top: -20px;
            font-size: 52px;
            font-weight: 100;
            margin-bottom: 0px;
        }
    }
    @mixin expandedCc() {
        height: 520px;
    } 
    .iconArea {
        font-size: 360px;
    }
}

@media only screen and (min-width: 500px) and (max-width: 1023px) {
    .contentDescription {
        font-size: 14px;
        h1 {
            font-weight: 100; 
            font-size: 29px;
        }
        h2 {
            font-weight: normal;

        }
    }
    .contentTitle {
        font-size: 16px;
        h1 {
            font-stretch: condensed;
        }
        h2 {
            margin-top: -20px;
            font-size: 40px;
            font-weight: 100;
            margin-bottom: -15px;
        }
    }
        @mixin expandedCc() {
            height: 400px;
        } 
    
    
    .iconArea {
        font-size: 280px;
    }

    .onOffIcon {
        margin-top: -10px;
    }
}

@media only screen and (max-width: 499px) {
    .contentDescription {
        font-size: 14px;
        h1 {
            font-weight: 100; 
            font-size: 26px;
        }
        h2 {
            font-weight: normal;

        }
    }
    .contentTitle {
        font-size: 14px;
        h2 {
            margin-top: -20px;
            font-weight: 100;
            font-size: 38px;
            margin-bottom: -20px;
        }
    }
    @mixin expandedCc() {
        height: 340px;
    } 

    .iconArea {
        font-size: 160px;

    }
    .onOffIcon {
    }
    .contentArea { 
        width: 90%;
    }
}

@media only screen and (max-width: 340px) {
    .contentTitle {
      
        h1 {
           max-width: 130px;
        }
    }
}


.CityCardBoxm10 {
    background-color: rgba(92, 10, 112, 0.9);
    @include regularCc;
    @include compactCc;
}

.CityCardBoxam10 {
    background-color: rgba(92, 10, 112, 0.6);
    @include regularCc;
    @include expandedCc;
}

.CityCardBox0 {
    background-color: rgba(57, 17, 122, 0.9);
    @include regularCc;
    @include compactCc;

}

.CityCardBoxa0 {
    background-color: rgba(57, 17, 122, 0.6);
    @include regularCc;
    @include expandedCc;
}

.CityCardBox4 {
    background-color: rgba(19, 17, 122, 0.9);
    @include regularCc;
    @include compactCc;
}

.CityCardBoxa4 {
    background-color: rgba(19, 17, 122, 0.6);
    @include regularCc;
    @include expandedCc;
}

.CityCardBox9 {
    background-color: rgba(17, 59, 122, 0.9);
    @include regularCc;
    @include compactCc;
}

.CityCardBoxa9 {
    background-color: rgba(17, 59, 122, 0.6);
    @include regularCc;
    @include expandedCc;
}

.CityCardBox13 {
    background-color: rgba(17, 115, 122, 0.9);
    @include regularCc;
    @include compactCc;
}

.CityCardBoxa13 {
    background-color: rgba(17, 115, 122, 0.6);
    @include regularCc;
    @include expandedCc;
}

.CityCardBox17 {
    background-color: rgba(7, 109, 87, 0.9);
    @include regularCc;
    @include compactCc;
}

.CityCardBoxa17 {
    background-color: rgba(7, 109, 87, 0.6);
    @include regularCc;
    @include expandedCc;
}

.CityCardBox20 {
    background-color: rgba(113, 124, 10, 0.9);
    @include regularCc;
    @include compactCc;
}

.CityCardBoxa20 {
    background-color: rgba(113, 124, 10, 0.6);
    @include regularCc;
    @include expandedCc;
}

.CityCardBox25 {
    background-color: rgba(199, 147, 6, 0.9);
    @include regularCc;
    @include compactCc;
}

.CityCardBoxa25 {
    background-color: rgba(199, 147, 6, 0.6);
    @include regularCc;
    @include expandedCc;
}

.CityCardBox30 {
    background-color: rgba(247, 190, 26, 0.9);;
    @include regularCc;
    @include compactCc;
}
.CityCardBoxa30 {
    background-color: rgba(247, 190, 26, 0.65);
    @include regularCc;
    @include expandedCc;

}

.CityCardBox35 {
    background-color: rgba(129, 47, 15, 0.9);
    @include regularCc;
    @include compactCc;
}

.CityCardBoxa35 {
    background-color: rgba(129, 47, 15, 0.65);
    @include regularCc;
    @include expandedCc;

}

.CityCardBox38 {
    background-color: rgba(148, 18, 13, 0.9);
    @include regularCc;
    @include compactCc;
}

.CityCardBoxa38 {
    background-color: rgba(148, 18, 13, 0.65);
    @include regularCc;
    @include expandedCc;
}

.CityCardBox40 {
    background-color: rgba(168, 0, 0, 0.9);
    @include regularCc;
    @include compactCc;
}

.CityCardBoxa40 {
    background-color: rgba(168, 0, 0, 0.6);
    @include regularCc;
    @include expandedCc;
}