@import '../../assets/styles/_variables.scss';


@mixin opacityIE8($opacity) {
    filter: alpha(opacity = $opacity-ie);
     //IE8:;
    -webkit-filter: alpha(opacity = $opacity-ie);
}

@mixin regularCc() {
    font: inherit;
    width: 100%;
    height: 150px;
}


.CityCardBoxm10 {
    background-color: rgba(92, 10, 112, 0.9);
    @include regularCc;
}

.CityCardBoxam10 {
    background-color: rgba(92, 10, 112, 0.4);
    @include regularCc;
}

.CityCardBox0 {
    background-color: rgba(57, 17, 122, 0.9);
    @include regularCc;
}

.CityCardBoxa0 {
    background-color: rgba(57, 17, 122, 0.4);
    @include regularCc;
}

.CityCardBox4 {
    background-color: rgba(19, 17, 122, 0.9);
    @include regularCc;
}

.CityCardBoxa4 {
    background-color: rgba(19, 17, 122, 0.4);
    @include regularCc;
}

.CityCardBox9 {
    background-color: rgba(17, 59, 122, 0.9);
    @include regularCc;
}

.CityCardBoxa9 {
    background-color: rgba(17, 59, 122, 0.4);
    @include regularCc;
}

.CityCardBox13 {
    background-color: rgba(17, 115, 122, 0.9);
    @include regularCc;
}

.CityCardBoxa13 {
    background-color: rgba(17, 115, 122, 0.4);
    @include regularCc;
}

.CityCardBox17 {
    background-color: rgba(7, 109, 87, 0.9);
    @include regularCc;
}

.CityCardBoxa17 {
    background-color: rgba(7, 109, 87, 0.4);
    @include regularCc;
}

.CityCardBox20 {
    background-color: rgba(113, 124, 10, 0.9);
    @include regularCc;
}

.CityCardBoxa20 {
    background-color: rgba(113, 124, 10, 0.4);
    @include regularCc;

}

.CityCardBox25 {
    background-color: rgba(199, 147, 6, 0.9);
    @include regularCc;

}

.CityCardBoxa25 {
    background-color: rgba(199, 147, 6, 0.4);
    @include regularCc;

}

.CityCardBox30 {
    background-color: rgba(255, 255, 0, 0.9);
    @include regularCc;

}
.CityCardBoxa30 {
    background-color: rgba(255, 255, 0, 0.4);
    @include regularCc;

}

.CityCardBox35 {
    background-color: rgba(129, 47, 15, 0.9);
    @include regularCc;
}

.CityCardBoxa35 {
    background-color: rgba(129, 47, 15, 0.4);
    @include regularCc;

}

.CityCardBox38 {
    background-color: rgba(148, 18, 13, 0.9);
    @include regularCc;

}

.CityCardBoxa38 {
    background-color: rgba(148, 18, 13, 0.4);
    @include regularCc;

}

.CityCardBox40 {
    background-color: rgba(168, 0, 0, 0.9);
    @include regularCc;

}

.CityCardBoxa40 {
    background-color: rgba(168, 0, 0, 0.4);
    @include regularCc;

}