@import "@/scss/mixins/breakpoint.scss";

.previsao-atual {
    display: flex;
    height: 300px;
    flex: 3;
    transition: .3s ease-in-out;
    background: var(--previsao-background-padrao);

    svg {
        height: auto;
        max-width: 40%;
        padding: 0 5%;

        path {
            fill: var(--previsao-cor-texto);
        }
    }

    .texto-destaque {
        font-size: 2.2rem;
        margin: 1.5rem 0;
        text-transform: capitalize;
    }

    .texto-detalhe {
        font-size: 1.4rem;
        line-height: 1.8rem;
    }

    .temperatura {
      cursor: pointer;
    }

    @include breakpoint(mobileonly) {
        flex-direction: column;

        svg {
            max-width: 80%;
            align-self: center;
        }
    }

}
