.FormLocations {
    background-color: rgba(@white, 0.5);
    width: 90%;

    &__form {
        display: flex;

        &__input {
            border: none;
            flex: 1;
            font-weight: 700;
            padding: 1rem;
        }

        &__button {
            background-color: @orange;
            border: none;
            color: @white;
            font-weight: 700;
            padding: 1rem;
            text-transform: lowercase;
        }
    }
}
