.Meteocons {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 8rem;
    text-indent: -500rem;

    &--11,
    &--12 {
        background-image: url('images/9.svg');
    }

    &--23 {
        background-image: url('images/19.svg');
    }

    &--26 {
        background-image: url('images/14.svg');
    }

    &--27 {
        background-image: url('images/9.svg');
    }

    &--28 {
        background-image: url('images/25.svg');
    }

    &--29,
    &--30 {
        background-image: url('images/8.svg');
    }

    &--31,
    &--32,
    &--33,
    &--34 {
        background-image: url('images/2.svg');
    }
}
