@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css';

@black: #000;
@blue: #00c1e8;
@orange: #ff5d00;
@red: #ff0000;
@yellow: #fdd600;
@white: #fff;

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

@import 'Wrapper.less';
@import 'FormLocations';
@import 'Weather';
@import 'Meteocons';
