@font-face {
    font-family: 'MeteoconsRegular';
    src: url('../fonts/meteocons-webfont.eot');
    src: url('../fonts/meteocons-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/meteocons-webfont.woff') format('woff'),
         url('../fonts/meteocons-webfont.ttf') format('truetype'),
         url('../fonts/meteocons-webfont.svg#MeteoconsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+000-5FF;
}