$maxBoxWidth: 600px;

$defaultFontFamily: 'Trebuchet MS', Arial, Helvetica, sans-serif;

$searchBackgroundColor: #ffffff;
$searchForegroundColor: #7a7977;

$contentColor: #ffffff;

$coldColor: #37b2f9;
$normalColor: #f9cb37;
$hotColor: #f93737;
$noneColor: #f7f7f6;

$darkColdColor: #258eb5;
$darkNormalColor: #b69426;
$darkHotColor: #b52525;
$darkNoneColor: #bbbbbb;


// Page sizes
$small: 600px;
$medium: 1024px;
$large:1280px;