@import "variables";
@import "fonts";


body {
    margin: 0;
    padding: 0;

    font-family: $defaultFontFamily;

    background-size: cover;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    > * {
        width: $maxBoxWidth;
        max-width: 100%;
    }
}

.search-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-items: center;

    position: relative;

    background: $searchBackgroundColor;
    &:before {
        content: '(';
        display: inline-block;
        margin: 1rem;
        font-family: 'MeteoconsRegular';
        color: $searchForegroundColor;
        font-size: 3rem;
    }
    .input {
        display:inline-block;
        width: calc(100% - 4.5rem);

        font-family: $defaultFontFamily;
        font-size: 1.8rem;
        font-weight: 700;
        color: $searchForegroundColor;
        border: 0;
        cursor: text;
        &:hover,
        &:active,
        &:focus,
        &:visited {
            box-shadow: 0 0 5px 0px rgba($searchForegroundColor, 0.2) inset;
        }
    }

    .btn-search {
        position: absolute;
        bottom: -0.75rem;
        right: 0.5rem;
        padding: 0.2rem 0.5rem;
        font-family: $defaultFontFamily;
        font-size: 1rem;
        color: $searchBackgroundColor;
        
        background: $searchForegroundColor;

        border: 0;
        cursor: pointer;
    }
}

.forecast-today {
    display: flex;
    flex-direction: row;
    justify-items: center;
    height: 19rem;
    max-height: 70%;

    background: rgba($noneColor,0.5);
    cursor: default;
    .data-forecast {
        display: flex;
        flex-direction: row;
        width: 100%;

        font-family: $defaultFontFamily;
        color: $contentColor;
        font-size: 1.2rem;
        
        &:before {
            content: attr(data-temperature);
            display:flex;
            align-items: center;
            justify-content: center;
            width:40%;            
            
            font-family: 'MeteoconsRegular';
            color: $contentColor;
            font-size: 5rem;

            @media(min-width:$small) {
                width:50%;
                font-size: 10rem;
            }
        }
    }

    > div {
        span {
            display:block;
            font-size: 1.1rem;
            line-height: 1.3;
            &.date {
                margin: 1rem 0 0.5rem 0;
                font-size: 1rem;
                text-transform: uppercase;
                @media(min-width:$small) {
                    font-size: 1.3rem;
                }
            }
            &.temperature {
                margin: 0 0 1rem 0;
                font-size: 1.6rem;
                text-transform: uppercase;
                @media(min-width:$small) {
                    margin: 0 0 1.4rem 0;
                }
            }
            &.weather {
                margin: 0 0 1.2rem 0;
                font-size: 1.3rem;
                text-transform: capitalize;
                @media(min-width:$small) {
                    font-size: 1.5rem;
                }
            }
        }
    }
    
    &.cold {
        background: rgba($coldColor,0.8);
    }
    &.hot- {
        background: rgba($hotColor,0.8);
    }
    &.normal {
        background: rgba($normalColor,0.8);
    }
}

.forecast-next-days {
    color: $contentColor;
    cursor: default;
    .data-forecast{
        padding: 0.5rem 0.5rem 0.5rem 40%;
        @media(min-width:$small) {
            padding: 1rem 1rem 1rem 50%;
        }
        &:first-child {
            background: $noneColor;
            &.cold {
                background: $coldColor;
            }
            &.hot {
                background: $hotColor;
            }
            &.normal {
                background: $normalColor;
            }
        }
        &:last-child {
            background: $darkNoneColor;
            &.cold {
                background: $darkColdColor;
            }
            &.hot {
                background: $darkHotColor;
            }
            &.normal {
                background: $darkNormalColor;
            }
        }

        .date {
            display:block;
            text-transform: uppercase;
            font-size: 1.1rem;
            @media(min-width:$small) {
                font-size: 1.5rem;
            }
        }
        .temperature {
            display:block;
            text-transform: uppercase;
            font-size: 1.6rem;
            @media(min-width:$small) {
                font-size: 2rem;
            }
        }
    }
}

.list-cities {
    position: absolute;
    top: 4rem;
    right: 0.25rem;
    max-height: 20rem;
    width: calc(100% - 5.5rem);

    background: rgba($searchBackgroundColor, 0.8);
    border: 1px solid $searchForegroundColor;

    -webkit-box-shadow: 1px 1px 2px 0px rgba($searchForegroundColor, 0.7);
    box-shadow: 1px 1px 2px 0px rgba($searchForegroundColor, 0.7);

    z-index: 10;

    overflow: auto;

    span {
        display: inline-block;
        width:100%;
        margin: 0;
        padding: 0.2rem 1rem;

        font-size: 1.3rem;
        font-weight: 700;
        color: $searchForegroundColor;

        background: $searchBackgroundColor;
        border-bottom: $darkNoneColor;

        cursor: default;
        &:before {
            content: "(";
            display: inline-block;
            margin: 0 0.5rem 0 0;
            
            font-family: "MeteoconsRegular";
            color: $searchForegroundColor;
            font-size: 1rem;
        }
    }

    div {
        margin: 0.5rem;
        padding: 0.5rem;

        font-size: 1.3rem;
        
        cursor: pointer;
    }
}

.temperature {
    cursor: pointer;
}

.loading {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: auto 50%;

    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;;

    color: $searchBackgroundColor;
    font-weight: 700;
    
    background: rgba(#000, 0.5);
}