.bussula {
    .icone-do-tempo(2rem; red; " " ; 10px);
}
.local-previsao {
    display: flex;
    align-items: center;
    background-color: #efebe8;
    padding: 3px;
}
.bussula-link {
    text-decoration: none;
}
.texto-localidade {
    font-size: 1rem;
}
.busca-localidade {
    width: 100%;
    margin-right: 10px;
}
.localidade {
    font-family: "Roboto";
    font-size: 1.2rem;
    line-height: 1.5rem;
    width: 100%;
    border: none;
    background-color: transparent;
}
.localidade:focus {
    border-bottom: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}