// Fontes utilizadas
$font-principal: 'Raleway', sans-serif;
$font-icon: 'MeteoconsRegular';

// CORES
$text-input: #565454;
$shadow-color: #bdbdbd;
$cold-1: #03089d;
$cold-2: #007eff;
$hot-1: #930014;
$hot-2: #e90000;