// .modal-container {
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     background-color: blue;
//     width: 600px;
//     min-width: 360px;

//     height: 500px;

//     border-radius: 4px;
// }

@media (min-width:320px) {

    .modal-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        background-color: blue;
        max-width: 500px ;
        min-width: 340px;

        width: 500px;
        min-height: 600px;
        max-height: 600px;
    

        border-radius: 4px;
    }
}