.cities-input {
  padding: .8rem;

  display: flex;
  align-items: center;

  background-color: $grey;

  .icon {
    padding-right: .34rem;

    font-size: 3.5rem;
    color: $greyColorDark1;

    margin-top: .25rem;

    @media (max-width: 724px) {
      font-size: 2rem;
    }
  }

  .input {
    margin-left: .1rem;

    width: 100%;
    border: none;
    padding: .5rem;
    padding-left: .26rem;

    color: $greyColorDark1;
    font-size: 1.9rem;
    font-weight: 700;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: transparent;

    @media (max-width: 724px) {
      font-size: 1.2rem;
    }
  }
}
