.modal-body-tomorrow-container {
    background-color: green;
    height: 15%;
    width: 100%;

    .modal-body-tomorrow-content {
        display: flex;
        justify-content: flex-end;
        height: 100%;
        width: 100%;

        .modal-body-tomorrow-temp-icon {
            width: 50%;

            display: flex;
            justify-content: center;
            align-items: center;

            .modal-body-tomorrow-sun-status {
                font-size: 50px;
                color: white;
            }
        }

        .modal-body-tomorrow-weather-infos {
            width: 50%;
            color: white;

            .modal-body-tomorrow-temp-status {
                margin: 14px 0 0 14px;
                display: flex;
                flex-direction: column;

                .modal-body-tomorrow-temp-title {
                    font-size: 20px;
                    margin-bottom: 4px;
                    font-weight: 600;
                }

                .modal-body-tomorrow-temp-value {
                    cursor: pointer;
                    /*
                        User can't select the text
                    */
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                }
            }
        }
    }
}