:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  width: 38rem;
  font-size: 1.15em;
  background: rgba(200, 200, 200, .9);

  .compass {
    width: 2.7em;
    height: 2.7em;
    margin-right: .5em;
  }

  .input {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    .query {
      text-align: center;
      outline: none;
      color: #707070;
      border-bottom: 1px solid #707070;
      width: 17em;
      padding-right: 1.30em;
      font-size: 1.25em;
      font-weight: 400;
    }
    
    .search {
      cursor: pointer;
      color: #707070;
      position: absolute;
    }
  }
}