@font-color:#807F7DE6;

.header {
  color: @font-color;
  font-size: 60px;
  min-height: 100px;
  font-weight: bold;
  background-color: #FFFFFFF2;
  margin: 0;
  padding-top: 32px;
  padding-bottom: 32px;
}

