.weather-day {
    margin: 0 auto;
    display: flex;
    font-family: 'Arial';
    font-size: 16px;
    text-align: left;
    color: #ffffff;
    .icon-container {
        width: 55%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
        img {
            width: 80%;
        }
    }
    .weather-container {
        width: 45%;
        .weather-temp {
            padding: 20px 0;
        }
    }
    h3, .temperature {
        font-size: 20px;
    }
    h3 {
        text-transform: uppercase;
        padding-bottom: 10px;
    }
}