@import "../config.less";

.weather {
  max-width: 550px;
  width: 90%;
  margin: auto;
  font-family: 'Arial';
  font-size: 1rem;
  text-align: left;
  color: @white;
  min-height: 475px;
  opacity: 0.9;
  background-color: @gray;
  position: relative;
  form {
    width: 100%;
    color: @white;
    font-size: 2rem;
    display: flex;
    background-color: @white;
    &:before {
      content: "(";
      font-family: @icon-font;
      color: @gray;
      padding: 0.6rem;
      position: absolute;
    }
    input {
      padding: 0.6rem 0.6rem 0.6rem 3.5rem;
      border: 0;
      font-size: 2rem;
      outline: none;
      color: @gray;
      font-weight: 700;
      width: 100%;
    }
    @media @smartphones {
      font-size: 1.5rem;
      input {
        font-size: 1.5rem;
      }
    }
  }
  svg {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}
