@import '../config';

.opacity-weather(@n, @i: 1) when (@i =< @n) {
  > section:nth-last-child(@{i}) {
    opacity: (1 - (@i / 20));
  }
  .opacity-weather(@n, (@i + 1));
}

.weather-card {
  width: 100%;
  margin: 0 auto;
  font-family: 'Arial';
  text-align: left;
  color: @white;
  .opacity-weather(7);
  &.empty {
    p {
      padding: 2rem;
    }
  }
}