@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?86054260');
  src: url('../font/fontello.eot?86054260#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?86054260') format('woff2'),
       url('../font/fontello.woff?86054260') format('woff'),
       url('../font/fontello.ttf?86054260') format('truetype'),
       url('../font/fontello.svg?86054260#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?86054260#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-windy-rain-inv:before { content: '\e800'; } /* '' */
.icon-snow-inv:before { content: '\e801'; } /* '' */
.icon-snow-heavy-inv:before { content: '\e802'; } /* '' */
.icon-clouds-flash:before { content: '\e803'; } /* '' */
.icon-hail-inv:before { content: '\e804'; } /* '' */
.icon-clouds-inv:before { content: '\e805'; } /* '' */
.icon-clouds-flash-inv:before { content: '\e806'; } /* '' */
.icon-temperature:before { content: '\e807'; } /* '' */
.icon-compass:before { content: '\e808'; } /* '' */
.icon-na:before { content: '\e809'; } /* '' */
.icon-celcius:before { content: '\e80a'; } /* '' */
.icon-fahrenheit:before { content: '\e80b'; } /* '' */
.icon-clouds-flash-alt:before { content: '\e80c'; } /* '' */
.icon-sun-inv:before { content: '\e80d'; } /* '' */
.icon-moon-inv:before { content: '\e80e'; } /* '' */
.icon-cloud-sun-inv:before { content: '\e80f'; } /* '' */
.icon-cloud-moon-inv:before { content: '\e810'; } /* '' */
.icon-cloud-inv:before { content: '\e811'; } /* '' */
.icon-cloud-flash-inv:before { content: '\e812'; } /* '' */
.icon-drizzle-inv:before { content: '\e813'; } /* '' */
.icon-windy:before { content: '\e814'; } /* '' */
.icon-10d:before, .icon-10n:before { content: '\e815'; } /* '' */
.icon-snowflake:before { content: '\e816'; } /* '' */
.icon-02d:before { content: '\e817'; } /* '' */
.icon-02n:before { content: '\e818'; } /* '' */
.icon-fog-sun:before { content: '\e819'; } /* '' */
.icon-fog-moon:before { content: '\e81a'; } /* '' */
.icon-fog-cloud:before { content: '\e81b'; } /* '' */
.icon-fog:before { content: '\e81c'; } /* '' */
.icon-03d:before, .icon-03n:before { content: '\e81d'; } /* '' */
.icon-11d:before, .icon-11n:before { content: '\e81e'; } /* '' */
.icon-cloud-flash-alt:before { content: '\e81f'; } /* '' */
.icon-09d:before, .icon-09n:before { content: '\e820'; } /* '' */
.icon-windy-inv:before { content: '\e821'; } /* '' */
.icon-sunrise:before { content: '\e822'; } /* '' */
.icon-01d:before { content: '\e823'; } /* '' */
.icon-01n:before { content: '\e824'; } /* '' */
.icon-eclipse:before { content: '\e825'; } /* '' */
.icon-50d:before, .icon-50n:before { content: '\e826'; } /* '' */
.icon-wind:before { content: '\e827'; } /* '' */
.icon-windy-rain:before { content: '\e828'; } /* '' */
.icon-13d:before, .icon-13n:before { content: '\e829'; } /* '' */
.icon-snow-alt:before { content: '\e82a'; } /* '' */
.icon-snow-heavy:before { content: '\e82b'; } /* '' */
.icon-hail:before { content: '\e82c'; } /* '' */
.icon-04d:before, .icon-04n:before { content: '\e82d'; } /* '' */