.input {
    font-weight: bold;
    color: #ababab;
    display: inline-flex;
    width: 100%;
    height: 3rem;
    font-size: 1.5rem;
    padding: 0.25rem 0.5rem;
    box-sizing: border-box;
    border: none;
}
