main
{
    padding: 10px;
}
div.after-details
{
    width: 100px;
    display: flex;
    justify-content: space-between;
}
article.after-details
{
    margin-top: 20px;
}
.change-unit
{
    width: 21px;
    height: 21px;
    padding: 10px;
    display: flex;
    margin: 20px 5px;
    cursor: pointer;
    border-radius: 5px;
    align-items: center;
    border: 1px solid #fff;
    justify-content: space-around;
    background-color: rgba(255,255,255,.2);
}
.change-unit em
{
    font-size: 1.5rem;
}
.content
{
    width: 100%;
    display: grid;
    padding: 0 0 20px;
}
.box-content
{
    width: 100%;
    margin: 0 auto;
    max-width: 500px;
}
.image-background
{
    top: 132px;
    opacity: .5;
    width: 700px;
    height: 600px;
    position: absolute;
    left: calc(50% - 350px);
}
.item-content
{
    display: flex;
    margin: 20px auto;
    position: relative;
    align-items: center;
}
.item-content input
{
    width: 85%;
    border: none;
    color: #fff;
    margin: 0 auto;
    font-size: 1rem;
    text-align: center;
    background-color: transparent;
}
.item-content input::placeholder
{
    color: #fff;
}
em
{
    color: #fff;
}

.item-content em
{
    right: 10px;
    cursor: pointer;
    font-size: 1.3rem;
    position: absolute;
}
.invalid-location-message
{
    top: calc(50% - 74px);
    position: absolute;
    text-align: center;
    left: calc(50% - 123px);
}
div.weather-main
{
    margin-top: 50px;
    text-align: center;
}
div.weather-main article
{
    width: 100%;
    margin: 0 auto;
    max-width: 500px;
}
div.weather-main p.temperature
{
    font-size: 6rem;
}
div.weather-card
{
    width: 100%;
    display: block;
    max-width: 500px;
    border-top: 1px solid #fff;
}
div.weather-card article
{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div.weather-card article.next-time-prev
{
    height: 80%;
    text-align: center;
}
div.weather-card article.next-time-prev div.wheather-next-hours
{
    width: 25%;
    padding: 20px 0 0;
}
div.weather-card article.next-time-prev div:last-child
{
    border-right: none;
}
.loading-spinner
{
    margin: 0 auto;
}
.loading-spinner p
{
    margin: 10px 0 0;
}
.search-content
{
    display: flex;
}
.search-bar
{
    width: 100%;
    height: 40px;
    max-width: 350px;
    border-radius: 20px;
    border: 1px solid #fff;
    background: rgba(255,255,255,.2);
}
.subtitle
{
    margin: 0;
    display: flex;
    padding: 10px 0px;
    align-items: center;
}
div.weather-card article.details-list
{
    width: 100%;
    display: inline-block;
}
.details-list p
{
    font-size: 1rem;
}
.details-list div
{
    width: 100%;
    margin: 0 5px;
    max-width: 240px;
    display: inline-block;
}
.details-list li
{
    width: 100%;
    display: flex;
    padding: 5px 0;
    border-top: 1px solid #fff;
    justify-content: space-between;
}
header
{
    padding: 1px 0;
}
.minAndMAx
{
    display: flex;
    justify-content: space-between;
}
.minAndMAx span
{
    width: 100px;
    display: flex;
    justify-content: space-between;
}
p.max,
.minAndMAx p.max
{
    font-weight: bold;
}
nav
{
    color: #fff;
    background-color: #002036;
}
nav ul
{
    height: 50px;
    display: flex;
    margin: 0 auto;
    max-width: 980px;
    align-items: center;
    justify-content: space-between;
    
}
nav ul li
{
    height: 95%;
    cursor: pointer;
    font-size: 1rem;
}
nav ul li p
{
    margin-top: 15px;
}
.secundary-temp
{
    font-size: 30px;
}
.not-selected-item
{
    border-bottom: 2px solid #002036;
}
.selected-item
{
    border-bottom: 2px solid #fff;
}
.thermal-sensation
{
    font-size: 3rem;
}
.secundary-time
{
    margin-bottom: 5px;
}
.secundary-icon
{
    width: 60px;
}
p.hot-temp
{
    color: #c00000;
}
p.cold-temp
{
    color: #90caf9;
}
p.warm-temp
{
    color: #f57f17;
}
p
{
    margin: 0;
    color: #fff;
    font-size: 1.6rem;
}
h1
{
    margin: 0;
    color: #fff;
    line-height: 1;
    font-size: 4rem;
    margin-bottom: 20px;
}
h2
{
    text-align: center;
}
h3, h2
{
    margin: 0;
    color: #fff;
    font-size: 20px;
}
h3
{
    width: 100px;
}