<main>
    <header>
        <article class="box-content search-content">
            <div class="item-content search-bar">
                <input *ngIf="todayWeather != undefined" 
                    type="search" 
                    [(ngModel)]="searchName"
                    placeholder="Buscar localidade"
                    (keydown.enter)="getWeather()">
                <em (click)="getWeather()" class="fa fa-search"></em>
            </div>
            <div class="change-unit" (click)="changeUnit()">
                <h3>
                    {{unit == utils.CELSIUS ? '˚C' : '˚F'}}
                </h3>
            </div>
        </article>
    </header>
    
    <section class="content">
        <article class="box-content" *ngIf="!invalidSearchLocation && !callingResponse">
            <div class="weather-main item-content">
                <article>
                    <h1>{{localName}}</h1>
                    <p>
                        {{utils.translateConditions(todayWeather.description)}}
                    </p>
                    <p class="temperature" [ngClass]="utils.setTempNumberColor(todayWeather.temperature, unit)">
                        {{todayWeather.temperature}}˚
                    </p>
                    <div class="minAndMAx">
                        <p class="today">
                            Hoje
                        </p>
                        <span>
                            <p>
                                {{todayWeather.min}}
                            </p>
                            <p class="max">
                                {{todayWeather.max}}
                            </p>
                        </span>
    
                    </div>
                </article>
            </div>
            <div class="weather-card item-content details">
                <article class="next-time-prev">
                    <div *ngFor="let weather of weatherList | slice: 0:4" class="wheather-next-hours">
                        <p class="secundary-time">
                            {{weather.time}}
                        </p>
                        <img src="{{weather.icon}}" alt="" class="secundary-icon">
                        <p class="secundary-temp">
                            {{utils.roundWeather(weather.main.temp)}}˚
                        </p>
                    </div>
                </article>
            </div>
            <div class="weather-card item-content details">
                <div class="subtitle">
                    <p class="thermal-sensation">{{todayWeather.feelsLike}}˚</p>
                    <p>Sensação térmica</p>
                </div>
                <article class="next-time-prev details-list" *ngIf="!callingResponse">
                    <div>
                        <ul>
                            <li>
                                <p>Min/Max</p>
                                <p>{{todayWeather.min}}˚/{{todayWeather.max}}˚</p>
                            </li>
                            <li>
                                <p>Umidade</p>
                                <p>{{todayWeather.humidity}}%</p>
                            </li>
                            <li>
                                <p>Visibilidade</p>
                                <p>{{todayWeather.visibility}}%</p>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li>
                                <p>Pressão</p>
                                <p>{{todayWeather.pressure}} mb</p>
                            </li>
                            <li>
                                <p>Vento</p>
                                <p>{{todayWeather.wind}} km/h</p>
                            </li>
                            <li>
                                <p>Nível do Mar</p>
                                <p>{{todayWeather.seaLevel}} hpa</p>
                            </li>
                        </ul>
                    </div>
                </article>
            </div>
            <div class="weather-card item-content details">
                <article class="after-details">
                    <h3>Amanhã</h3>
                    <img class="secundary-icon" src="{{tomorrowWeather.icon}}" alt="">
                    <div class="after-details">
                        <p>
                            {{tomorrowWeather.min}}
                        </p>
                        <p class="max">
                            {{tomorrowWeather.max}}
                        </p>
                    </div>
                    
                </article>
            </div>
            <div class="weather-card item-content details">
                <article class="after-details">
                    <h3>Depois de amanhã</h3>
                    <img class="secundary-icon" src="{{afterTomorrowWeather.icon}}" alt="">
                    <div class="after-details">
                        <p>
                            {{afterTomorrowWeather.min}}
                        </p>
                        <p class="max">
                            {{afterTomorrowWeather.max}}
                        </p>
                    </div>
                    
                </article>
            </div>
        </article>
        <article class="box-content" *ngIf="invalidSearchLocation && !callingResponse">
            <div class="invalid-location-message">
                <img src="../assets/icons/icon-error.svg" alt="">
                <h2>
                    Localidade não encontrada
                </h2>
            </div>
        </article>
    </section>
    
    <section class="loading-beaut" *ngIf="callingResponse">
        <app-loading></app-loading>
    </section>
</main>
