.main-container{
  padding: 0;
  background-image: url(https://i.imgur.com/sduLRvf.jpg);
  background-color: #3a3a3a;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;

  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .weatherBoard{
    width: 100%;
    justify-content: center;
    .weatherBoardContainer{
    }
  }
}