@use '../style.scss' as style;

.charlie-display-container
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    width: 100%;
    height: 100%;

    .display-logo {
        display: flex;
        align-items: center;
        color: map-get(style.$color-pallete, 'beige' );

        .logo-label {
            font-size: 2.5vw;
            font-weight: bold;
        }
    }

    .display-copyright
    {
        display: flex;
        justify-content: flex-end;
        .copyright-text  {            
            font-size: .5vw;
            margin: .25vw;
            text-align: right;
            color: map-get(style.$color-pallete, "beige" );
            background-color: map-get(style.$grayscale-pallete, "secondary" );
            opacity: 75%;
        }
    }
}