.WeatherTomorrow {
    background-color: rgba(249, 203, 4, 0.97);
    color: white;
    grid-column-start: 1;
    grid-column-end: 3;
}

#tomorrow-col-1 {
    text-align: center;
}

#tomorrow-col-2 * {
    margin: 10px 0px 0px 60px;
}
