.WeatherTomorrow {
    background-color: rgba(249, 203, 4, 0.97);
    height: 18%;
    color: white;
}

#tomorrow-col-1 {
    text-align: center;
}

#tomorrow-col-2 * {
    margin: 0px 0px 0px 60px;
}
