@import '../../styles/sectionBackgroundColors';

.section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: var(--spacing-default) 0;

  &.no-results {
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 300px;
  }

  &::first-of-type {
    margin-top: var(--spacing-large);
  }

  &:not(::first-of-type) {
    margin-top: var(--spacing-default);
  }
}

@media screen and (min-width: 768px) {
  .section {
    flex-direction: row;
    margin: 0;
    max-height: 220px;

    &.no-results {
      min-height: 220px;
    }
  }
}
