.section {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  max-height: 220px;
  padding: 20px 0;
}

@media screen and (min-width: 768px) {
  .section {
    flex-direction: row;
  }
}
