$opacityLow: 0.6;
$opacityMedium: 0.8;
$opacityHigh: 0.9;

.section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: var(--spacing-default) 0;

  &.no-results {
    align-items: center;
    justify-content: center;
    min-height: 300px;
  }

  &::first-of-type {
    margin-top: var(--spacing-large);
  }

  &:not(::first-of-type) {
    margin-top: var(--spacing-default);
  }

  &.cold {
    background: rgba(var(--color-blue-rgb), $opacityMedium);

    &-light {
      background: rgba(var(--color-blue-rgb), $opacityLow);
    }

    &-dark {
      background: rgba(var(--color-blue-dark-rgb), $opacityHigh);
    }
  }

  &.normal {
    background: rgba(var(--color-yellow-rgb), $opacityMedium);

    &-light {
      background: rgba(var(--color-yellow-rgb), $opacityLow);
    }

    &-dark {
      background: rgba(var(--color-yellow-dark-rgb), $opacityHigh);
    }
  }

  &.hot {
    background: rgba(var(--color-red-rgb), $opacityMedium);

    &-light {
      background: rgba(var(--color-red-rgb), $opacityLow);
    }

    &-dark {
      background: rgba(var(--color-red-dark-rgb), $opacityHigh);
    }
  }

  &.unset {
    background: rgba(var(--color-gray-rgb), $opacityMedium);

    &-light {
      background: rgba(var(--color-gray-rgb), $opacityLow);
    }

    &-dark {
      background: rgba(var(--color-gray-dark-rgb), $opacityHigh);
    }
  }
}

@media screen and (min-width: 768px) {
  .section {
    flex-direction: row;
    margin: 0;
    max-height: 220px;

    &.no-results {
      min-height: 220px;
    }
  }
}
