.WeatherAfterTomorrow {
    background-color: rgba(181, 149, 2, 1);
    height: 17%;
    color: white;
}

#after-tomorrow-col-1 {
    text-align: center;
}

#after-tomorrow-col-2 * {
    margin: 10px 0px 0px 60px;
}
