@keyframes pulse-black {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.localidade {
    height: 5rem;
    background: var(--localidade-background);
    display: flex;
    padding: 1rem;
    align-items: center;
    position: relative;

    .botao-selecionar-localidade  {
       width: 4rem;
       height: 4rem;
       cursor: pointer;

       &.carregando {
         cursor:not-allowed;
         animation: pulse-black 1s infinite;
         border-radius: 50%;
       }

       path {
          fill: var(--localidade-cor-texto);
          transition: .3s ease-in-out;
          -webkit-transition: .3s ease-in-out;
       }

       &:hover {
         path {
           fill: var(--localidade-botao-hover)
         }
       }
    }

    input {
        background: none;
        border: none;
        flex: 1;
        outline: none;
        padding-left: 1rem;
        font-size: 2rem;
        color: var(--localidade-cor-texto);
    }
}

.carregando {
  overflow: hidden;

  &::after {
    height: 3px;
    width: 100%;
    margin: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--cinza);
    display: flex;
    content: '';
    -webkit-animation: infinite-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    animation: infinite-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }
}

@-webkit-keyframes infinite-progress {
0% { margin-left: 0px; margin-right: 100%; }
50% { margin-left: 25%; margin-right: 0%; }
100% { margin-left: 100%; margin-right: 0; }
}
@keyframes infinite-progress {
0% { margin-left: 0px; margin-right: 100%; }
50% { margin-left: 25%; margin-right: 0%; }
100% { margin-left: 100%; margin-right: 0; }
}
