.toast {
  position: fixed;
  padding: 20px;
  top: 20px;
  right: 50px;
  width: 350px;
  height: 80px;
  background-color: #eb4034;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  transition: right 3s ease-in-out;
  &__message {
    align-self: center;
    font-size: 22px;
    line-height: 24px;
    color: #ffffff;
  }
}
.toast:hover {
  background-color: #87251e;
  cursor: pointer;
}
