#location-input {
    display: flex;
    background-color: white;
    input {
        font-weight: bold;
        color: #7b7b7b;
        background-color: transparent;
        display: inline-flex;
        width: 100%;
        height: 3rem;
        font-size: 1.5rem;
        padding: 0.25rem 0.5rem;
        box-sizing: border-box;
        border: none;
    }
    button {
        cursor: pointer;
        background-color: transparent;
        width: 3rem;
        min-width: 3rem;
        height: 3rem;
        border: none;
        line-height: normal;
        span {
            color: #5a5a5a;
        }
    }
    button:hover {
        background-color: #e9e9e9;
    }
}