.wrapper {
    width: 100%;
    background-color: white;

    display: flex;
    justify-content: left;
    align-items: center;
}

.autocomplete {
    width: 100%;
}

.compass {
    padding: 0.5rem;
    height: 1.9rem;
}