.weather{
    &__today{
        display: flex;
    }
    &__otherDays{
        display: flex;
        &__content{
            margin: auto;
        }
        &__emptySpace{
            width: 180px;
            margin: auto;
        }
    }
}