.weather{
    &__today{
        display: flex;
    }
    &__otherDays{
        display: flex;
        flex-direction: column;
        &__tomorrow{
            width: auto;
            padding-right: 0;
            padding-left: 290px;
        }
        &__after{
            width: auto;
            padding-right: 0;
            padding-left: 290px;
        }
    }
}