.input-area {
  display: flex;
  align-items: center;
  background: #f0f0f0;
  padding: 20px;
  gap: 40px;
}

.input-area img {
  width: 80px;
}

.weather-input {
  border: none;
  background: transparent;
  font-size: 3rem;
  flex: 1;
}

/* RESPONSIVE */

@media (max-width: 800px) {
  .weather-input {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .weather-input {
    font-size: 1.75rem;
  }
  .input-area img {
    width: 40px;
  }
}

@media (max-width: 500px) {
  .weather-input {
    font-size: 1.5rem;
  }
  .input-area img {
    width: 20px;
  }
}

@media (max-width: 400px) {
  .weather-input {
    font-size: 1rem;
    flex: initial;
  }
}