.content
     .item
        border-bottom: 1px solid #000
        padding: 1em
        color: #272727
        &:last-child
            border: none
        
        &.temperature-color-black
            background-color: #000

        &.temperature-color-white
            background-color: #fff

        &.temperature-cold-light
            background-color: rgb(111, 202, 233)

        &.temperature-cold-medium
            background-color: rgb(64, 103, 218)

        &.temperature-cold-dark
            background-color: rgb(37, 37, 201)

        &.temperature-medium-light
            background-color: rgb(233, 220, 108)

        &.temperature-medium-medium
            background-color: rgba(231, 234, 18, 0.84)

        &.temperature-medium-dark
            background-color: rgb(235, 200, 2)

        &.temperature-hot-light
            background-color: rgb(231, 91, 66)

        &.temperature-hot-medium
            background-color: rgb(216, 1, 1)

        &.temperature-hot-dark
            background-color: rgb(146, 25, 25)

        .container-temperature
            .temperature
                font-size: 3rem
                cursor: pointer
