.weather-today {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.weather-today-info {
  background: transparent !important;
}
