.today {
  opacity: 0.95;
  display: flex;
  flex-direction: column;
  &__featured {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    &__title {
      font-size: 22px;
      line-height: 24px;
      font-weight: bold;
      color: #ffffff;
    }
    &__mood {
      color: #ffffff;
      margin-top: 0px;
      font-weight: bold;
    }
    &__temperature {
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: center;
      img {
        width: 165px;
        filter: invert(100%);
        margin-right: 20px;
      }
      p {
        color: #ffffff;
        align-self: center;
        font-size: 32px;
        line-height: 48px;
        margin-left: 20px;
        font-weight: bold;
        transition: ease(1s);
      }
      p:hover {
        cursor: pointer;
        color: #d3d3d3;
      }
    }
  }
  &__details {
    margin: 0px 50px;
    p {
      color: #ffffff;
      font-weight: bold;
      letter-spacing: 0.7px;
    }
    &__item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: 1px solid #d3d3d3;
    }
    &__item:last-child {
      border-bottom: 0px;
    }
  }
}

.today-undefined {
  opacity: 0.95;
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 30vh;
  p {
    text-align: center;
    align-self: center;
    font-size: 22px;
    line-height: 24px;
  }
}

@media (max-width: 480px) {
  .today {
    &__details {
      p {
        font-size: 16px;
        line-height: 18px;
      }
    }
  }
}
