@import "config.less";

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.weather {
    max-width: 550px;
    width: 90%;
    margin: auto;
    font-family: 'Arial';
    font-size: 16px;
    text-align: left;
    color: @white;
    form {
      width: 100%;
      color: @white;
      font-size: 30px;
      display: flex;
      background-color: @white;
      &:before {
        content: "(";
        font-family: 'MeteoconsRegular';
        color: @gray;
        padding: 10px;
      }
      input {
        padding: 10px 10px 10px 5px;
        border: 0;
        font-size: 30px;
        outline: none;
        color: @gray;
        font-weight: 700;
        width: 100%;
      }
    }
}
