.wrapper {
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
}

header .content {
    max-width: 1120px;
    margin: 0 auto;
    background: var(--gray-100);

    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .content .icon {
    font-size: 3rem;
}

header .content .icon:before {
    font-family: 'MeteoconsRegular';
	content: attr(data-icon);
    font-style: normal;
}

header .content .input_box {
    width: 100%;
    position: relative;
}

header .content .input_box .address_input_search {
    width: 100%;
    padding: 1rem;
    font-size: 2rem;
    background: transparent;
    border: 0;
    outline: none;
    color: var(--gray-300);
}

header .content .input_box .box_select {
    position: absolute;
    top: 85px;
    left: -64px;
    width: 1120px;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--gray-300);
    background: transparent;
}

header .content .input_box .box_select .loading {
    background: var(--gray-100);
}

header .content .input_box .box_select .suggestion.active {
    background: var(--gray-100);
}

main {
    max-width: 1120px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

.loader_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

.loader_container p {
    font-size: 2rem;
    font-weight: 500;
    color: var(--white);
}

@media(max-width: 720px) {
    .loader_container p {
        text-align: center;
    }

    header .content .input_box .box_select {
        top: 75px;
    }
}

@media(min-width: 721px) and (max-width: 1080px) {
    .loader_container p {
        text-align: center;
    }

    header .content .input_box .box_select {
        top: 79px;
    }
  }