#app {
    width: 100vw;
    height: 100vh;
    #background {
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        min-height: 100vh;
        width: 100%;
        z-index: -100;
        position: absolute;
        filter: brightness(0.7);
    }   
}
