@font-face {
  font-family: 'MeteoconsRegular';
  src: url('./font/meteocons-webfont.eot');
  src: url('./font/meteocons-webfont.eot?#iefix') format('embedded-opentype'),
       url('./font/meteocons-webfont.woff') format('woff'),
       url('./font/meteocons-webfont.ttf') format('truetype'),
       url('./font/meteocons-webfont.svg#MeteoconsRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon:before {
	font-family: 'MeteoconsRegular';
	content: attr(data-icon);
}

@totalHeight : 100vh;

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.App{
  .container{
    max-width: 933px;
    height: @totalHeight;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    &.yellow{
      .today{
        background-color: rgba(255, 255, 0, .4);
      }
      .tomorrow{
        background-color: rgba(199, 146, 6, .8);
      }
      .after-tomorrow{
        background-color: rgb(171, 130, 23);
      }
    }
    &.blue{
      .today{
        background-color: rgba(0, 66, 253, 0.4);
      }
      .tomorrow{
        background-color: rgba(40, 76, 173, 0.88);
      }
      .after-tomorrow{
        background-color: rgb(18, 49, 134);
      }
    }
    &.red{
      .today{
        background-color: rgba(255, 0, 0, 0.4);
      }
      .tomorrow{
        background-color: rgba(171, 29, 29, 0.82);
      }
      .after-tomorrow{
        background-color: rgb(171, 29, 29);
      }
    }
    .weather{
      display: flex;
      justify-content: space-between;
      padding: 30px 50px; 
      cursor: pointer;
      transition: 3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      &.today{
        transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      }
      &.tomorrow{
        transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      }
      &.after-tomorrow{
        transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      }
      &.active{
        .left{
          width: 50%;
          .icon{
            font-size: 20em;
            color: #ffffff;
            opacity: 1;
            height: 100%;
            transition: .9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
          }
        }
        .right{
          width: 50%;
          h2,
          .temp,
          .clima-estado,
          .infos{
            font-size: 40px;
          }
          .clima{
            display: block;
          }
          h2{
            font-weight: 500;
            text-transform: uppercase;
          }
          .temp{
            margin-top: 15px;
            margin-bottom: 30px;
          }
          .clima-estado{
            text-transform: capitalize;
            font-size: 45px;
            font-weight: 400;
            margin-bottom: 15px;
          }
          .infos{
            font-size: 25px;
            margin: 5px;
            transition: .9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
          }
        }
        cursor: default;
      }
      .icon{
        font-size: 20em;
        color: #ffffff;
        opacity: 0;
        height: 0;
        transition: .1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      }
      justify-content: flex-end;
      .left,
      .right{
        width: 50%;
          h2,
          .temp,
          .clima-estado,
          .infos{
            color: #ffffff;
            font-size: 30px;
            transition: .1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
          }
          .temp{
            max-width: 70px;
            cursor: pointer;
          }
        .clima{
          display: none;
        }
      }
      
    }
    .weather-components{
      height: calc(@totalHeight - 80px);
    }
    .location-search-input{
      width: 100%;
      outline: none;
      box-sizing: border-box;
      height: 50px;
      font-size: 40px;
      border: 0;
      padding: 40px 0;
      text-indent: 60px;
    }
    .busca{
      position: relative;
    }
    .icon-menu{
      position: absolute;
      top: 40px;
      left: 30px;
      font-size: 40px;
      transform: translate(-50%, -50%);
      opacity: .5;
    }
    .loading{
      text-align: center;
      font-size: 50px;
      color: #ffffff;
      margin-top: 150px;
    }
  }
}

.home{
  width: 100%;
  height: @totalHeight;
}

@media screen {
  @media (max-width: 993px) {
    .App{
      .container{
        max-width: 100%;
      }
    }
  }
}

@media screen {
  @media (max-width: 800px) {
    .App{
      .container{
        .weather{
          flex-direction: column;
          height: 100%;
          .icon{
            font-size: 5em;
          }
          &.active{
            .left,
            .right{
              width: 100%;
            }
            .left{
              .icon{
                font-size: 5em;
              }
            }
            .right{
              display: flex;
              justify-content: space-between;
              h2{
                font-size: 30px;
              }
              .clima-estado{
                font-size: 35px;
              }
            }
          }
          .right{
            h2{
              text-transform: capitalize;
            }
          }
        }
        .weather-components{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }
    }
  }
}