@import 'styles/colors';
@import 'styles/typography';
@import 'styles/mobile';

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Roboto, sans-serif;
}

@media screen and (min-width: 426px) and (max-width: 767px) {
  @import 'styles/tablet';
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  @import 'styles/laptop';
}

@media screen and (min-width: 1024px) {
  @import 'styles/desktop';
}
