@font-face {
  font-family: "MeteoconsRegular";
  src: url("./assets/fonts/meteocons-webfont.eot");
  src: url("./assets/fonts/meteocons-webfont.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/meteocons-webfont.woff") format("woff"), url("./assets/fonts/meteocons-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "MeteoconsRegular";

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace, "MeteoconsRegular";
}

input {
  height: 100%;
  width: 98%;
  display: block;
  border: 0;
  background-color: rgba(238, 238, 238, 0.95);
  color: #727272;
  font-family: 'Trebuchet MS';
  font-weight: 600;
  z-index: 200;
  padding: 0px 0px 0px 18px;
}
yy
.customWrapper {
  background-color: rgba(238, 238, 238, 0.808);
  color: #252525;

  font-family: 'Trebuchet MS';
  border: 0;

}

.sc-bZQynM {
  transition: all .7s ease;
}

@media only screen and (min-width: 1024px) {
input {
  font-size: 56px;
}
.customWrapper {
  font-size: 42px;
}
}


@media only screen and (min-width: 500px) and (max-width: 1023px) {
  input {
    font-size: 40px;
  }
  .customWrapper {
    font-size: 30px;
  }
}


@media only screen and (min-width: 340px) and (max-width: 499px) {
  input {
    font-size: 24px;
  }
  .customWrapper {
    font-size: 24px;
  }
}

@media only screen and (max-width: 340px) {
  input {
    font-size: 14px;
  }
  .customWrapper {
    font-size: 14px;
    padding-top: 14px;
  }
}
