@import 'styles/colors';
@import 'styles/typography';
@import 'styles/mobile';

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Roboto, sans-serif;
}

@media screen and (min-width: 768px) {
  @import 'styles/desktop';
}
