body {
    background-image: url('https://images.sonurai.com/CapeWhiteEye_EN-GB6716800133.jpg');
    background-size: cover;
}

section.container {
    color: #fff;
    font-family: sans-serif;
    font-weight: 700;
    
    background-image: linear-gradient(to right top, #eec02038, #eebf1d4f, #efbd1a3d, #efbc1638, #f0ba122b);
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
}

.localizacao {
    color: #8d8986;

    background: #fff;
    padding: 0 15px;
}

.localizacao-titulo {
    display: flex;
    align-items: center;
}

.temperatura-caixa,
.amanha,
.dia-depois-de-amanha {
    align-items: center;
    align-self: center;
    display: flex;
    padding: 0 15px;
}

p.dia {
    margin: 5vh, 0 0 0;
}

.vento {
    margin-top: 5vh;
}

.vento p {
    margin: 0;
}

h2.grau {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px 0 0;
}

span.modo {
    font-size: 1.5em;
}

@font-face {
    font-family: 'MeteoconsRegular';
    src: url('../src/utils/fonts/meteocons-font/FONT/Desktop-font/meteocons.otf');
    src: url('../src/utils/fonts/meteocons-font/FONT/Font-face/meteocons-webfont.eot?#iefix') format('embedded-opentype'),
         url('../src/utils/fonts/meteocons-font/FONT/Font-face/meteocons-webfont.woff') format('woff'),
         url('../src/utils/fonts/meteocons-font/FONT/Desktop-font/meteocons.ttf') format('truetype'),
         url('../src/utils/fonts/meteocons-font/FONT/Font-face/meteocons-webfont.svg#MeteoconsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
	font-family: 'MeteoconsRegular';
    font-size: 1.5em;

    align-items: center;
    content: attr(data-icon);
    margin-right: 15px;
}

.temperatura-caixa p[data-icon] {
    font-size: 10em;
    margin: 0;
}

.amanha, .dia-depois-de-amanha {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    line-height: 1;
    width: 62%;
}