@import url("https://fonts.googleapis.com/css?family=Roboto");

@font-face {
    font-family: 'Roboto';
    src: url("https://fonts.googleapis.com/css?family=Roboto");
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: white;
}

:root{
    --red: 239, 83, 80;
    --red-medium: 211, 47, 47;
    --red-darker: 183, 28, 28;
    
    --yellow: 255, 238, 88;
    --yellow-medium: 251, 192, 45;
    --yellow-darker: 245, 127, 23;
    
    --blue: 41, 182, 246;
    --blue-medium: 3, 155, 229;
    --blue-darker: 1, 87, 155;

}


body {
    margin: 0;
    font-family: 'Roboto';
    text-decoration: none;
    a{
        text-decoration: inherit;
    }
}
