@mixin teste() {
    height: 2000px;
    background-color: red;
}

 @mixin font-test($font-name, $file-name, $weight: normal, $style: normal) { 
    @font-face {
      font-family: $font-name;
      src: url($file-name + '.eot');
      src: url($file-name + '.eot?#iefix') format('embedded-opentype'), url($file-name + '.woff') format('woff'), url($file-name + '.ttf') format('truetype'), url($file-name + '.svg##{$font-name}') format('svg');
      font-weight: $weight;
      font-style: $style;
    }
   }