.weather {
  &App {
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    @include desktop {
      @include toRem(max-width, 767);
    }
  }

  &Field {
    width: 100%;
    @include toRem(height, 60);
    opacity: .8;
    background: white;
    box-shadow: 0 0 5px $shadow-color;

    &Box {
      border: none;
      width: 100%;
      height: 100%;
      outline: none;
      padding: 10px 20px;
      @include toRem(font-size, 20);
      font-weight: 700;
      color: $text-input;
    }
  }

  &Info {
    width: 100%;

    &Data {
      width: 50%;
    }

    ul {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      opacity: .8;
      background-image: linear-gradient(yellow, orange);

      &.coldWeather {
        background-image: linear-gradient($cold-1, $cold-2);
        color: white;

        p {
          color: white;
        }
      }

      &.hotWeather {
        background-image: linear-gradient($hot-1, $hot-2);

        color: white;

        p {
          color: white;
        }
      }
    }

    li {
      @include toRem(padding, 30);
      display: flex;
      justify-content: space-around;

      .icon {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      p {
        text-transform: uppercase;
        font-weight: 700;
        color: black;
        @include toRem(line-height, 24);

        span {
          display: block;
          @include toRem(font-size, 22);
        }

        &.spotlight {
          margin: 15px 0;
        }

        &.details {
          text-transform: none;
        }
      }
    }

    &Today {
      .icon {
        @include toRem(font-size, 120);
      }
    }

    &After {
      .icon {
        @include toRem(font-size, 50);
      }
    }
  }
}