.App {
  text-align: center;
}

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

.App-loader {
  z-index: 2;
  position: absolute;
  top: 40%;
  left: 45%;
  visibility: hidden;
  
  @media only screen and (max-width: 600px) {
    top: 40%;
    left: 35%;
  }
}

.App-link {
  color: #61dafb;
}

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
