// Resposible breakpoints
$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

// Base
// ---------

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  @media only screen and (max-width: $bp-medium) {
    font-size: 50%;
  }
  @media only screen and (max-width: $bp-small) {
    font-size: 43.75%;
  }
  box-sizing: border-box;
}

body {
  color: #fff;
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

.main {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  max-width: 100rem;
}

// Util
// ---------

.ml-sm {
  margin-left: 1rem;
}
.mb-sm {
  margin-bottom: 1rem;
}

// Typography
// ---------

.heading-1 {
  font-size: 7rem;
  font-weight: 200;
}
.heading-2 {
  font-size: 3rem;
  font-weight: 200;
}

.heading-3 {
  font-size: 2rem;
  font-weight: 200;
}

.heading-4 {
  font-size: 1.6rem;
  font-weight: 200;
}

.heading-5 {
  font-size: 1.2rem;
  font-weight: 200;
}
