.App {
  height: 100vh;
  width: 100vw;
  min-height: 35em;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 550px) {
  .App {
    height: 100vh;
    width: 100vw;
  }
}



