.cityInfo {
    background-color: $color-grey-lighter;
    padding: rem(20);

    &__title {
        text-transform: uppercase;
        font-weight: bold;
        color: $color-grey-dark;
        font-size: rem(16);
        margin: 0;
        
        @media #{$global-break-md} {
            font-size: rem(20);
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__icon:before {
        font-size: rem(30);
        margin-right: rem(10);
        color: $color-grey-dark;
        font-family: 'MeteoconsRegular';
        content: '(';
    }

}