* {
    box-sizing: border-box;
}

.weather-app {
    overflow: hidden;
    width: 22em;
    height: 35em;
    border-radius: 20px;
    color:white;
    .blue-back{
        &:nth-of-type(2){
            position: relative;
            &:after {
                content: "";
                // exemplo degrade
                background-image: linear-gradient(to top, #008fb3, #00ccff 10px);
                opacity: 0.9;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                position: absolute;
                z-index: -1;
            }
        }
        &:nth-of-type(3) {
            position: relative;
            &:after {
                content: "";
                background-color: #008fb3;
                opacity: 0.9;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                position: absolute;
                z-index: -1;
            }
        }
    }
    .yellow-back{
        &:nth-of-type(2){
            position: relative;
            &:after {
                content: "";
                // exemplo degrade
                background-image: linear-gradient(to top, #b09003, #fbce04 10px);
                opacity: 0.9;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                position: absolute;
                z-index: -1;
            }
        }
        &:nth-of-type(3) {
            position: relative;
            &:after {
                content: "";
                background-color: #b09003;
                opacity: 0.9;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                position: absolute;
                z-index: -1;
            }
        }
    }
    .grey-back{
        &:nth-of-type(2){
            position: relative;
            &:after {
                content: "";
                // exemplo degrade
                background-image: linear-gradient(to top, #595959, #808080 10px);
                opacity: 0.9;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                position: absolute;
                z-index: -1;
            }
        }
        &:nth-of-type(3) {
            position: relative;
            &:after {
                content: "";
                background-color: #595959;
                opacity: 0.9;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                position: absolute;
                z-index: -1;
            }
        }
    }
    .red-back{
        &:nth-of-type(2){
            position: relative;
            &:after {
                content: "";
                // exemplo degrade
                background-image: linear-gradient(to top, #b32400, #ff3300 10px);
                opacity: 0.9;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                position: absolute;
                z-index: -1;
            }
        }
        &:nth-of-type(3) {
            position: relative;
            &:after {
                content: "";
                background-color: #b32400;
                opacity: 0.9;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                position: absolute;
                z-index: -1;
            }
        }
    }
    .forecast {
        display: flex;
        z-index: 1;
        height: 5em;
        font-size: 1em;
        .temp{
            position: relative;
            text-align: right;
            padding-right: 25px;
            font-size: 1.5em;
            .deg{
                font-size: 1rem;
                position: absolute;
                margin: auto;
                top:20%;
                .celcius,.fahr{
                    opacity: 0.5;
                }
                .active{
                    opacity: 1;
                }
            }
        }
        .right-forecast{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            margin: auto;
            right: 0;
            top:0;
            bottom: 10px;
        }
        .left-forecast{
            font-size: 1.5em;
            position: absolute;
            margin: auto;
            left: 0;
            top:0;
            bottom: 10px;
        }
        .box{
            width: 30%;
            height: 100%;
            justify-content: center;
            align-items: center;
            display: flex;
            flex-grow:1;
        }
        
      
    }
    .main-temp {
        position: relative;
        z-index: 1;
        height: 25em;
        .bottom-main{
            position: absolute;
            margin:auto;
            bottom: 0;
            left:0;
            right: 0;
            height: 8em;
            display: flex;
            .left-bottom{
                text-align: center;
                padding-right: 5px;
                height: 100%;
                width: 50%;
                
                .temp{
                    cursor: pointer;
                    position: relative;
                    color:white;
                    text-align: right;
                    padding-right: 25px;
                    font-size: 3em;
                    .deg{
                        font-size: 1rem;
                        position: absolute;
                        top:0;
                        .celcius,.fahr{
                            opacity: 0.5;
                        }
                        .active{
                            opacity: 1;
                        }
                    }
                }
            }
            .right-bottom{
                padding-left: 5px;
                text-align: center;
                
                height: 100%;
                width: 50%;
                .name-condition{
                    font-size: 1.5em;
                    margin-bottom: 0.2em;
                }
            }
        }
        .search-on{
            position: relative;
            background-color:white;
            padding: 0 2em;
            .close{
                color:black;
                position: absolute;
                margin: auto;
                left: 10px;
                top:0;
                bottom:0;
                cursor: pointer;
            }
            .search-icon{
                color:black;
                    position: absolute;
                    margin: auto;
                    right: 10px;
                    top:0;
                    bottom:0;
                    cursor: pointer;  
            }
            
        }
        .search-off{
            width: 100%;
            height: 2em;
            position: absolute;
            top:0;
            .location-icon{
                color:white;
                    position: absolute;
                    margin: auto;
                    left: 10px;
                    top:0;
                    bottom:0;
                    cursor: pointer; 
            }
            .search-icon{
                color:white;
                    position: absolute;
                    margin: auto;
                    right: 10px;
                    top:0;
                    bottom:0;
                    cursor: pointer;  
            }
            .switch{
                width: 30%;
                z-index: 0;
                top:-5px;
                position: absolute;
                    margin: auto;
                    left:0;
                    right:0;
            }
        }
        .blue-back{
            &:after {
                content: "";
                // exemplo degrade
                background-image: linear-gradient(to top, #00ccff, #4ddbff 10px);
                opacity: 0.9;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                position: absolute;
                z-index: -1;
            }
        }
        .red-back{
            &:after {
                content: "";
                // exemplo degrade
                background-image: linear-gradient(to top, #ff3300, #ff704d 10px);
                opacity: 0.9;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                position: absolute;
                z-index: -1;
            }
        }
        .yellow-back{
            &:after {
                content: "";
                // exemplo degrade
                background-image: linear-gradient(to top, #fbce04, #fcdd4f 10px);
                opacity: 0.9;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                position: absolute;
                z-index: -1;
            }
        }
        .grey-back{
            height: 100%;
            &:after {
                content: "";
                // exemplo degrade
                background-image: linear-gradient(to top, #808080, #a6a6a6 10px);
                opacity: 0.9;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                position: absolute;
                z-index: -1;
            }
        }
        .error-message{

            height: 100%;
            display: flex;
            font-size: 2em;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    }
}


.loading{
    font-size: 4em;
    animation: load 2s infinite;
}

@media only screen and (max-width: 550px) {
    .weather-app {
        width: 100%;
    }
}

@keyframes load {
    from { opacity: 0;}
    50% { opacity: 1;}
    to{opacity: 0;}
}