.card {
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.icon {
    height: 100%;
    margin-right: 15px;
}

.card-icon {
    padding: 25px;
    height: 70%;
}

input:focus {
    outline: none !important;
    border-color: #719ece;
    box-shadow: 0;
}

.input {
    height: 100%;
    padding: 0;
    margin-top: 0;
    border-width: 0;
    width: 100%;
    font-size: 250%;
    color: #8c8885;
}
