:host {
	display: flex;
	flex-direction: column;
	width: 38rem;
	min-width: 400px;
  max-width: 100vw;

	.card {
		position: relative;
		display: flex;
		color: white;
		transition: height .2s;
		height: 7rem;
		
		.background {
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		.yellow {
			background: rgb(233, 181, 37);
		}

		.red {
			background: rgb(224, 123, 65);
		}

		.blue {
			background: rgb(118, 200, 227);
		}

		.left, .right {
			display: flex;
			height: 100%;
		}

		.left {
			align-items: center;
			justify-content: center;
			width: 55%;

			.icon {
				transition: height .2s;
				transition: width .2s;
				height: 50%;
			}
		}

		.right {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			width: 45%;

			.top, .mid, .bottom {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
			}

			.top {
				.temperature {
					font-size: 3.2em;
				}

				.forecasts {
					display: flex;
					justify-content: space-between;
					width: 7em;
				}
			}
		}
	}

	.main-temperature {
		cursor: pointer;
		font-size: 3em;
	}

	.opened {
		height: 20rem;
	}
}