<div class="full-screen foreground">
  <div class="weather-content">
    <div *ngIf="weathers" class="location">
      <img class="compass" src="assets/meteocons-icons/44.svg">
      <div class="input">
        <input class="medium-text query" placeholder="Digite a localidade..." maxlength="30" [(ngModel)]="location" (keyup)="onKey($event)" spellcheck="false">
        <i class="material-icons search" (click)="getWeathersWithLocation()">search</i>
      </div>
    </div>
    <div *ngFor="let weather of weathers" class="card" [class.opened]="weather.isOpened" (click)="openWeather(weather)">
      <div class="background" [class.yellow]="weather.averageTemperature.celsius > 15 && weather.averageTemperature.celsius < 36"
                              [class.red]="weather.averageTemperature.celsius > 35"
                              [class.blue]="weather.averageTemperature.celsius < 15"
                              [ngStyle]="{ 'opacity': weather.opacity }"></div>
      <div class="left">
        <img class="icon" [class.big]="weather.isOpened" src="assets/meteocons-icons/{{weather.icon}}.svg">
      </div>
      <div class="right">
        <div class="top">
            <span class="medium-text uppercase">{{weather.date}}</span>
            <span *ngIf="weather.actualTemperature.celsius && weather.isOpened" class="main-temperature" (click)="changeTemperatureUnit()">{{weather.actualTemperature.toString()}}</span>
          <div class="temperatures">
            <div class="medium-text">&#8593; {{weather.maxTemperature.toString()}}</div>
            <div class="medium-text">&#8595; {{weather.minTemperature.toString()}}</div>
          </div>
        </div>
        <div class="mid">
          <span *ngIf="weather.isOpened" class="big-text">{{weather.text}}</span>
        </div>
        <div class="bottom">
          <span class="small-text" *ngIf="weather.isOpened && weather.wind.direction">Vento: {{weather.wind.direction}} {{weather.wind.speed | number: '1.0-0'}}km/h</span>
          <span class="small-text" *ngIf="weather.isOpened && weather.humidity">Umidade: {{weather.humidity | number: '1.0-0'}}%</span>
          <span class="small-text" *ngIf="weather.isOpened && weather.pressure">Pressão: {{weather.pressure | number: '1.0-0'}}hPa</span>
        </div>
      </div>
    </div>
  </div>
</div>
