<div class="full-screen foreground">
  <div class="weather-content">
    <div class="location">
      <img *ngIf="location" class="small-icon" src="assets/meteocons-icons/44.svg">
      <span *ngIf="location" class="big-text title">{{location.toString()}}</span>
    </div>
    <div *ngFor="let weather of weathers" class="card" [class.opened]="weather.isOpened" (click)="openWeather(weather)">
      <div class="background" [class.yellow]="weather.averageTemperature.celsius > 15 && weather.averageTemperature.celsius < 36"
                              [class.red]="weather.averageTemperature.celsius > 35"
                              [class.blue]="weather.averageTemperature.celsius < 15"
                              [ngStyle]="{ 'opacity': weather.opacity }"></div>
      <div class="left">
        <img *ngIf="weather.isOpened">
      </div>
      <div class="right">
        <div class="top">
          <span class="medium-text uppercase">{{weather.date}}</span>
          <span *ngIf="weather.actualTemperature" class="big-text">{{weather.actualTemperature.celsius | number: '1.0-0'}}°C</span>
          <div class="temperatures" *ngIf="!weather.actualTemperature">
            <span *ngIf="weather.maxTemperature" class="big-text">&#8593; {{weather.maxTemperature.celsius | number: '1.0-0'}}°C</span>
            <span *ngIf="weather.minTemperature" class="big-text">&#8595; {{weather.minTemperature.celsius | number: '1.0-0'}}°C</span>
          </div>
        </div>
        <div class="mid">
          <span class="big-text" *ngIf="weather.isOpened">{{weather.text}}</span>
        </div>
        <div class="bottom">
          <span class="small-text" *ngIf="weather.isOpened && weather.wind">Vento: {{weather.wind.direction}} {{weather.wind.speed | number: '1.0-0'}}km/h</span>
          <span class="small-text" *ngIf="weather.isOpened && weather.humidity">Umidade: {{weather.humidity | number: '1.0-0'}}%</span>
          <span class="small-text" *ngIf="weather.isOpened && weather.pressure">Pressão: {{weather.pressure | number: '1.0-0'}}hPa</span>
        </div>
      </div>
    </div>
  </div>
</div>
