.temperature__container {
  display: flex;
  flex-direction: column;
}

.temperature__container button {
  background: transparent;
  border: 0;
  width: fit-content;
  padding: 0.2rem;
  cursor: pointer;
}

.temperature__container button,
.temperature__container span {
  color: inherit;
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
}
