.weather-container
    min-height: 50vh
    background-color: #ffffff
    color: #414141
    padding: 1em
    width: 50vw
    border-radius: 5px
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.19)
    margin: 3em 0

    .content
        .item
            border-bottom: 1px solid #000
            padding: 1em
            &:last-child
                border: none