body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.App {
  height: 100vh;
  width: 100vw;
  min-height: 35em;
  display: flex;
  align-items: center;
  justify-content: center; }

#smoky, #snow, #rain, #heavy-rain, #heavy-snow, #cold, #mostly-sun, #partly-night, #clean-night, #sun, #wind, #mostly-night, #mostly-sun, #thunder, #several-thunder, #thunder-rain, #snow-rain, #tornado, #hurricane, #foggy, #partly-sun {
  width: 15em;
  position: absolute;
  margin: auto;
  top: 2em;
  left: 0;
  right: 0; }

.forecast #smoky, .forecast #snow, .forecast #rain, .forecast #heavy-rain, .forecast #heavy-snow, .forecast #cold, .forecast #mostly-sun, .forecast #partly-night, .forecast #clean-night, .forecast #sun, .forecast #wind, .forecast #mostly-night, .forecast #mostly-sun, .forecast #thunder, .forecast #several-thunder, .forecast #thunder-rain, .forecast #snow-rain, .forecast #tornado, .forecast #hurricane, .forecast #foggy, .forecast #partly-sun {
  height: 4em;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 5px;
  left: 0;
  right: 0; }

#floco-grande .st0 {
  stroke-width: 1;
  fill: #FFF; }

#floco-pequeno .st0 {
  stroke-width: 1;
  fill: #FFF; }

#floco-medio .st0 {
  stroke-width: 1;
  fill: #FFF; }

.smoky, .st0 {
  fill: none;
  stroke: #FFF;
  stroke-width: 6;
  stroke-miterlimit: 10;
  stroke-linecap: round; }

.st1 {
  fill: #FFF; }

.st2 {
  fill: none;
  stroke: #FFF;
  stroke-width: 3;
  stroke-miterlimit: 10; }

.st3 {
  fill: #FFF;
  stroke: #FFF;
  stroke-width: 5;
  stroke-miterlimit: 10; }

* {
  box-sizing: border-box; }

.weather-app {
  overflow: hidden;
  width: 22em;
  height: 35em;
  border-radius: 20px;
  color: white; }
  .weather-app .blue-back:nth-of-type(2) {
    position: relative; }
    .weather-app .blue-back:nth-of-type(2):after {
      content: "";
      background-image: linear-gradient(to top, #008fb3, #00ccff 10px);
      opacity: 0.9;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1; }
  .weather-app .blue-back:nth-of-type(3) {
    position: relative; }
    .weather-app .blue-back:nth-of-type(3):after {
      content: "";
      background-color: #008fb3;
      opacity: 0.9;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1; }
  .weather-app .yellow-back:nth-of-type(2) {
    position: relative; }
    .weather-app .yellow-back:nth-of-type(2):after {
      content: "";
      background-image: linear-gradient(to top, #b09003, #fbce04 10px);
      opacity: 0.9;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1; }
  .weather-app .yellow-back:nth-of-type(3) {
    position: relative; }
    .weather-app .yellow-back:nth-of-type(3):after {
      content: "";
      background-color: #b09003;
      opacity: 0.9;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1; }
  .weather-app .grey-back:nth-of-type(2) {
    position: relative; }
    .weather-app .grey-back:nth-of-type(2):after {
      content: "";
      background-image: linear-gradient(to top, #595959, #808080 10px);
      opacity: 0.9;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1; }
  .weather-app .grey-back:nth-of-type(3) {
    position: relative; }
    .weather-app .grey-back:nth-of-type(3):after {
      content: "";
      background-color: #595959;
      opacity: 0.9;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1; }
  .weather-app .red-back:nth-of-type(2) {
    position: relative; }
    .weather-app .red-back:nth-of-type(2):after {
      content: "";
      background-image: linear-gradient(to top, #b32400, #ff3300 10px);
      opacity: 0.9;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1; }
  .weather-app .red-back:nth-of-type(3) {
    position: relative; }
    .weather-app .red-back:nth-of-type(3):after {
      content: "";
      background-color: #b32400;
      opacity: 0.9;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1; }
  .weather-app .forecast {
    display: flex;
    z-index: 1;
    height: 5em;
    font-size: 1em; }
    .weather-app .forecast .temp {
      cursor: pointer;
      position: relative;
      text-align: right;
      padding-right: 25px;
      font-size: 1.5em; }
      .weather-app .forecast .temp .deg {
        font-size: 1rem;
        position: absolute;
        margin: auto;
        top: 20%; }
        .weather-app .forecast .temp .deg .celcius, .weather-app .forecast .temp .deg .fahr {
          opacity: 0.5; }
        .weather-app .forecast .temp .deg .active {
          opacity: 1; }
    .weather-app .forecast .right-forecast {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      margin: auto;
      right: 0;
      top: 0;
      bottom: 10px; }
    .weather-app .forecast .left-forecast {
      font-size: 1.5em;
      position: absolute;
      margin: auto;
      left: 0;
      top: 0;
      bottom: 10px; }
    .weather-app .forecast .box {
      width: 30%;
      height: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-grow: 1; }
  .weather-app .main-temp {
    position: relative;
    z-index: 1;
    height: 25em; }
    .weather-app .main-temp .bottom-main {
      position: absolute;
      margin: auto;
      bottom: 0;
      left: 0;
      right: 0;
      height: 8em;
      display: flex; }
      .weather-app .main-temp .bottom-main .left-bottom {
        text-align: center;
        padding-right: 5px;
        height: 100%;
        width: 50%; }
        .weather-app .main-temp .bottom-main .left-bottom .temp {
          cursor: pointer;
          position: relative;
          color: white;
          text-align: right;
          padding-right: 25px;
          font-size: 3em; }
          .weather-app .main-temp .bottom-main .left-bottom .temp .deg {
            font-size: 1rem;
            position: absolute;
            top: 0; }
            .weather-app .main-temp .bottom-main .left-bottom .temp .deg .celcius, .weather-app .main-temp .bottom-main .left-bottom .temp .deg .fahr {
              opacity: 0.5; }
            .weather-app .main-temp .bottom-main .left-bottom .temp .deg .active {
              opacity: 1; }
      .weather-app .main-temp .bottom-main .right-bottom {
        padding-left: 5px;
        text-align: center;
        padding-top: 1em;
        height: 100%;
        width: 50%; }
        .weather-app .main-temp .bottom-main .right-bottom .name-condition {
          font-size: 1.5em;
          margin-bottom: 0.2em; }
    .weather-app .main-temp .search-on {
      position: relative;
      background-color: white;
      padding: 0 2em; }
      .weather-app .main-temp .search-on .close {
        color: black;
        position: absolute;
        margin: auto;
        left: 10px;
        top: 0;
        bottom: 0;
        cursor: pointer; }
      .weather-app .main-temp .search-on .search-icon {
        color: black;
        position: absolute;
        margin: auto;
        right: 10px;
        top: 0;
        bottom: 0;
        cursor: pointer; }
    .weather-app .main-temp .search-off {
      width: 100%;
      height: 2em;
      position: absolute;
      top: 0; }
      .weather-app .main-temp .search-off .search-icon {
        color: white;
        position: absolute;
        margin: auto;
        right: 10px;
        top: 0;
        bottom: 0;
        cursor: pointer; }
    .weather-app .main-temp .blue-back:after {
      content: "";
      background-image: linear-gradient(to top, #00ccff, #4ddbff 10px);
      opacity: 0.9;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1; }
    .weather-app .main-temp .red-back:after {
      content: "";
      background-image: linear-gradient(to top, #ff3300, #ff704d 10px);
      opacity: 0.9;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1; }
    .weather-app .main-temp .yellow-back:after {
      content: "";
      background-image: linear-gradient(to top, #fbce04, #fcdd4f 10px);
      opacity: 0.9;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1; }
    .weather-app .main-temp .grey-back {
      height: 100%; }
      .weather-app .main-temp .grey-back:after {
        content: "";
        background-image: linear-gradient(to top, #808080, #a6a6a6 10px);
        opacity: 0.9;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1; }
    .weather-app .main-temp .error-message {
      height: 100%;
      display: flex;
      font-size: 2em;
      align-items: center;
      text-align: center; }

.loading {
  font-size: 4em;
  animation: load 2s infinite; }

@keyframes load {
  from {
    opacity: 0; }
  50% {
    opacity: 1; }
  to {
    opacity: 0; } }

/*# sourceMappingURL=index.css.map */
