.WeatherPage {
    left: 22%;
    width: 56%;
    height: 100%;
    position: absolute;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
